/******************* Default Theme CSS *******************/
* { margin : 0;padding : 0; } /* 注释 : 定义所有的标签的margin和padding为0 */
html, body { 
	height : 100%;
	text-align : center;
	color : #000;
	font-size : 12px;
	font-family : Tahoma, "宋体", sans-serif;
	background : #f2f8fa  url(../images/bg.gif)  repeat-x top;
}
body, td { 
	color : #333;
	font : 12px/1.6em Arial, Tahoma, sans-serif;
	line-height : 20px;
}


a { text-decoration : none;color : #12a3da }
a : hover { text-decoration : underline;color : #d59139 }
a : visited { font-weight : normal;color : #cc0000 }

div, form, img { border : none }
div { text-align : left; }
1div { border : 1px solid #ff8800; }

table, td, tr, th { font-size : 12px }
1table { border : 1px solid #688; }

p { 
	font-size : 1em;
	font-family : Verdana, "宋体", sans-serif;
	text-indent : 2em;
	/* margin-bottom : 18px; */
}
	p.text, p.para { padding-left : 15px;text-indent : 2em;margin : 0px;background-color : #fff; }
	p.introduction : first-letter { 
		font-size : 300%;
		font-weight : bold;
		float : left;
		width : 1em;
	}


input, select, button { 
	color : #00f;
	height : 25px;
	padding : 2px;
}
input, textarea, select, button { 
	color : #333;
	font-size : 12px;
	font-family : Arial, Tahoma, sans-serif;
	line-height : 25px;
}
input, textarea, select, button, img { 
	vertical-align : middle;
}
select, input, textarea { border : 1px solid #ccc;margin : 2px;padding : 2px 4px; }
select, input : hover, textarea : hover { background : #fefce2;border : 1px solid #ccc;padding : 2px 4px; }
select, input : focus, textarea : focus { background : #fefce2;border : 1px solid #ccc;padding : 2px 4px; }

dl, dt, dd, ol, ul, li, dl, dt, dd { margin : 0px;padding : 0px  }
ol, ul, dl { list-style-type : none;padding : 0px 5px 0px 0px; }
li { list-style : none;margin-top : 2px; }
dl { display : block; }
dt { margin : 0px 0px 0px 5px;font-weight : bold; }
dd { margin : 0px 0px 0px 20px; }
hr { color : #000;size : 1px;border : 1px solid #CCC; }

h1, h2, h3, h4, h5, h6, form, fieldset { margin : 0;padding : 0 }

h1, h2, h3, h4, h5, h6 { 
	font-size : 1em;line-height : 27px;
}

h1 { 
	line-height : 27px;
	padding-left : 5px;
	background : url(../images/h1-bg-r.gif) no-repeat right;
	font-family : Tahoma, Arial, sans-serif;
	color : #666;
}
	h1 span { 
		float : right;
		padding-right : 15px;
		font-weight : normal;
	}
	h1 span a { 
		color : #22ac38;
	}
	h1 span img { 
		margin-top : 8px;
	}

h2 { 
	padding-left : 10px;
	font-family : Tahoma, Arial, sans-serif;
	color : #666;
	margin-top : 10px;
	/* padding-bottom : 5px;
	border-bottom : 1px dashed #ccc; */
}

fieldset, legend { position : relative;  }
fieldset { 
	  border : 1px solid #ccc;
	  margin : 2px;
	  padding : 2px 15px;
	  display : block;
}
	fieldset legend { color : #008000;font-weight : bold;font-size : 125%; font-weight : normal; color : #000; }
	fieldset p { text-indent : 0em;margin : 0; padding : 0;line-height : 1.5em; }

#wrapper { 
	width : 100%;
	min-height : 100%;
	margin : auto;
	text-align : left;
}

	* html #wrapper { 
		height : 100%;
	}

#topwrapper { 
	width : 100%;
	/*min-height : 120px;
	background-color : #246838;
	margin-top : 15px;*/
	text-align : center;
	border : 0px solid #ff8;
}

#midwrapper { 
	width : 100%;
	min-height : 300px;
	/*background : #71B787;*/
	margin : 0px;
	text-align : center;
}
	#midwrapper  h2 { 
		border-bottom : 1px dashed #ccc;
	}


#botmwrapper { 
	width : 100%;
	min-height : 80px;
	height : auto;
	/*background-color : #246838;*/
	clear : both;
	margin : 0px;
	text-align : center;
	vertical-align : bottom;
	padding-top : 20px;
	padding-bottom : 0px;
}


#mininav { 
	background : #f8f8f8;
	color : #a1a0a0;
	line-height : 22px;
	border-bottom : #e6e6e6  1px solid;
	height : 28px;
	margin : 0px auto; /*居中*/
	text-align : center;
}
	#mininav img { border : none; margin-bottom : 4px;  }
	#mininav div { 
		font-size : 12px;
		margin : 0px auto;
		width : 898px;
		text-align : right;
		font-family : 宋体;
	}
	#mininav a { 
		padding : 1px 3px;
		font-size : 12px;
		margin : 0px 3px;
		color : #a1a0a0;
		text-decoration : none
	}
	#mininav a : hover { 
		background : #929292; color : #fff
	}

	#mininav #tool { width : 600px;padding : 5px 5px 0 0; float : right;text-align : right; }
	#mininav #notice { width : 240px;padding : 5px 5px 0 10px; float : left;overflow : hidden; }


#header { 
	width : 950px;
	padding-top : 3px;
	margin : 8px auto; /*居中*/
	text-align : center;
	border : 0px solid #369;
}

	#header #logo { 
		float : left; width : 240px; height : 80px;text-align : center;
		margin-right : 10px;
		background-color : #ffffff;
	}


	#header h1 { float : left;width : 170px;height : 60px;background-image : none; }
	#header h2 { margin-top : 10px; }


#nav { padding : 0px 20px 0px 0px;margin : 8px auto; /*居中*/ }
ul#menu { display : inline;list-style : none;margin : 0px; }
	ul#menu li { display : inline;line-height : 30px;margin : 2px }
	ul#menu li span { border-left : 0px solid #369; }
	ul#menu li a { 
		/*display : inline;*/
		width : 80px;
		color : #505050;
		font-weight : bold;
		padding : 4px;
		margin : 2px;
		border-left : 4px solid #fff;
		text-decoration : none;
	}
	ul#menu li a : hover { 
		background-color : #eeeeee;
		border-left : 4px solid #ccc;
		color : #000;
	}
	ul#menu li a : visited { font-weight : bold;color : #fff }


.top-menu { 
	margin : auto;
	height : auto;
	background : #00b7ee   url(../images/top-menu-bg.gif) repeat-x;
	line-height : 38px;
	color : #fff;
	padding-left : 15px;
}
	.top-menu a { 
		color : #fff;
		padding : 0 15px;
		font-size : 14px;
	}
	.top-menu a : hover { 
		color : #000;
		text-decoration : underline;
	}
.select-menu { 
	background : url(../images/select-menu.gif) no-repeat center bottom;
}

/*************navbar begin************/
.selected { font-weight : bold;  }
ul.navbar-one { margin-bottom : 0px; }
ul.navbar-two { margin-bottom : 0px; margin-top : 0px; }
ul.navbar-three { margin-top : 0px;  }

ul.navbar-one LI { display : inline; margin-right : 5px;  }
ul.navbar-two LI { display : inline; margin-right : 5px;  }
ul.navbar-three LI { display : inline; margin-right : 5px;  }

ul.level-two { padding : 0 0 0 10px }
ul.level-three { padding : 0 0 0 10px }
/*************navbar end************/


#breadcrumbs { 
	width : 950px;
	clear : both;
	margin : 0px;
	padding-top : 3px;
	margin : 4px auto; /*居中*/
	border-bottom : 1px solid #8DCFE2;display : block;clear : both;
}

#reserved_banner { 
	width : 950px;
	margin : 8px auto; /*居中*/
	text-align : center;
	/* border : 1px solid #cfdee3; */
}

#pagebody { 
	width : 950px;
	margin : 8px auto; /*居中*/
	text-align : center;
}
.pagewrapper { 
	width : 950px;
	clear : both;
	padding-top : 3px;
	margin : 2px auto; /*居中*/
	border : 0px solid #369;
}

#sidebar { 
	width : 200px; /*设定宽度*/
	/* height : 300px; */
	text-align : left; /*文字左对齐*/
	float : left; /*浮动居左*/
	clear : left; /*不允许左侧存在浮动*/
	color : #999999;
}

.mainwrapper { 
	width : 740px!important;width : 740px;
	text-align : left;
	float : right; /*浮动居右*/
	clear : right; /*不允许右侧存在浮动*/
	/*clear : both; 不允许右侧存在浮动*/
	color : #4E4E4E;
	margin-bottom : 8px;
}
.semi-mw { 
	/*半主要内容宽度*/
	width : 49.5%;float : left;padding-right : 2px;
}
.third-mw { 
	/*三分之一主要内容宽度*/
	width : 33%;float : left;padding-right : 2px;
}

#mainbody { 
	width : 740px!important;width : 740px;
	text-align : left;
	float : right; /*浮动居右*/
	clear : right; /*不允许右侧存在浮动*/
	color : #4E4E4E;
	margin-bottom : 8px;
}


	/*文章区域*/
	#mainbody div.modth { height : 31px;background : #3b5995;color : #b2d0ea;font-weight : bold;font-size : 14px;color : #ebebeb;padding : 0 10px;line-height : 31px; }
	#mainbody div.tit { color : #890000;font-size : 14px;font-weight : bold;font-family : Tahoma;text-align : left;border-top : 0px #FF8040 solid; }
	#mainbody div.tit a { color : #890000;font-size : 14px;font-weight : bold;text-decoration : none;font-family : Tahoma;background : none }
	#mainbody div.tit a : visited { color : #890000;text-decoration : none;font-family : Tahoma }
	#mainbody div.tit a : hover { color : #888; }
	#mainbody .post-date { margin : 0px 0 8px 0;color : #FF8000;font-family : Tahoma;text-align : left }
	#mainbody div.cnt { color : #5A1F01;line-height : 20px;font-size : 12px;background : #ffffff; }
	#mainbody * { line-height : 200%!important; }
	
	#mainbody div.cnt { color : #5A1F01;font-size : 12px;line-height : 20px;font-family : Tahoma;border : 1px solid #F5F5F5; }
	#mainbody div.cnt a { color : #5A1F01;line-height : 20px;text-decoration : none;font-size : 12px;font-family : Tahoma }
	#mainbody div.cnt a : visited { color : #5A1F01;text-decoration : none;font-size : 12px;line-height : 20px;font-family : Tahoma }
	#mainbody div.cnt a : hover { color : #B9976E;background : none;line-height : 20px;text-decoration : underline; }
	#mainbody div.area { padding : 8px;border : 1px solid #bfc8cf; }
	
	 /*文章内容中的链接*/
	#mainbody div.cnt pre { background : none;padding-left : 10px;padding-right : 5px;margin-left : 10px;margin-right : 10px;border-left : 8px #CcCcCc solid;font-family : Tahoma;line-height : 22px; }
	#mainbody div.more { margin : 0px 12px 0px 0;text-align : right;background : none;padding-right : 28px;height : 27px }
	#mainbody div.more a { color : #4C4C4C;font-size : 12px;font-family : Tahoma; text-decoration : none }
	#mainbody div.more a : visited { color : #4C4C4C;text-decoration : none }
	#mainbody div.more a : hover { color : #4455F8;text-decoration : underline }
	#mainbody div.opt { 
		margin : 1px 0;
		text-align : left;
		color : #999;
		font-size : .8em;
		border : 0px solid #E3E4E4;
		background : #F5F5F5;
		padding : 3px 10px;
		clear : both;
	}
	#mainbody div.opt { color : #958A5C;font-size : 12px;text-decoration : none;font-family : Tahoma;text-align : left; }
	#mainbody div.opt a { color : #958A5C;font-size : 12px;font-family : Tahoma;text-decoration : none }
	#mainbody div.opt a : visited { color : #958A5C }
	#mainbody div.opt a : hover { color : #4C4C4C;text-decoration : underline }
	#mainbody div.line { margin-top : 5px;margin-bottom : 5px; }
	#mainbody div.none { padding : 100px 0 100px 0;color : #000;font-size : 12px }
	
	#mainbody table.data { width : 700px!important;width : 700px;padding : 8px; }
	#mainbody table.data th { border-bottom : 2px solid #bfc8cf; }
	#mainbody table.data td { border-bottom : 1px dotted #bfc8cf; }
	
	#mainbody .pagebar { margin : 5px 0; }
	#mainbody .pagebar a { 
		margin : 0 2px;
		padding : 2px 6px;
		text-align : center;
		border : 1px solid #ccc;
		color : #127DE9;
		background : #eee;
	}
	#mainbody .pagebar a : hover { font-size : 16px;background : #ff8000;color : #fff;text-decoration : none; }
	#mainbody .pagebar .on { background : #ff8000;color : #fff;text-decoration : none; }
	
	#mainbody  .main_bottom { width : 620px;height : 31px;background : url(../images/main_bot.gif) no-repeat 0 0; }

.box { 
	border-left : 1px solid #cfdee3;
	border-right : 1px solid #cfdee3;
	background : #fff;
	padding : 10px 15px 5px 15px;
}
	.box table.data { 
		/*width : 700px!important;*/
		width : 100%;
		padding : 8px;
	}
	.box table.data th { border-bottom : 2px solid #bfc8cf; }
	.box table.data td { border-bottom : 1px dotted #bfc8cf; }

.box1 { 
	border-left : 1px solid #cfdee3;
	border-right : 1px solid #cfdee3;
	background : #fff;
	padding : 5px 18px 5px 18px;
	margin : 0;
}

.box2 { 
	border-left : 1px solid #cfdee3;
	border-right : 1px solid #cfdee3;
	padding : 10px 18px 5px 18px;
	margin : 0;
	background : #fff url(../images/side-bg.gif) repeat-x top;
}

.box3 { 
	border-left : 1px solid #cfdee3;
	border-right : 1px solid #cfdee3;
	background : #fff;
	padding : 5px 15px 10px 15px;
}
	.box3 th { 
		line-height : 16px;
		padding : 5px 0;
		color : #666;
	}

	.box3 td { 
		line-height : 16px;
		padding : 6px 0;
		border-bottom : 1px dotted #ccc;

	}
.box4 { 
	border-left : 1px solid #cfdee3;
	border-right : 1px solid #cfdee3;
	background : #fff;
	padding : 5px 15px 10px 15px;
}
	.box4 td { 
		line-height : 20px;
		padding : 10px 0;
		border-bottom : 1px dotted #ccc;
	}
	
.nr { 
	padding-right : 60px;
	font-size : 13px;
	display : block;
}


.box5 { 
	border-left : 1px solid #cfdee3;
	border-right : 1px solid #cfdee3;
	background : #fff;
	padding : 15px;
}
	.box5 td { 
		padding : 10px 0;
	}

.box-top { 
	background : #f4f5f5   url(../images/h1-bg.gif) no-repeat left;
	border-bottom : 1px solid #dfeaed;
	height : 27px;
}
.box-top1 { 
	background : #f4f5f5   url(../images/box-top-l.gif) no-repeat left;
	height : 4px;
	line-height : 4px;
	font-size : 0;
	text-align : right;
}
	.box-top1 span { 
		background : url(../images/box-top-r.gif) no-repeat right;
		height : 4px;
		width : 4px;
		float : right;
		display : block;
	}

.box-bot { 
	background : #fff url(../images/box-bot-l.gif) no-repeat left;
	height : 4px;
	line-height : 4px;
	font-size : 0;
	text-align : right;
	margin-bottom : 8px;
}
.box-bot span { 
	background : url(../images/box-bot-r.gif) no-repeat right;
	height : 4px;
	width : 4px;
	float : right;
	display : block;
}



#footer { 
	width : 950px;
	height : auto;
	padding-top : 5px;
	
	margin : 8px auto; /*居中*/
	text-align : center;
	color : #000;
	border-top : 1px solid #8DCFE2;
}

.p_bar { 
	margin : 1px 0px;
	clear : both;
}
.p_bar a { 
	float : left;
	padding : 1px 4px;
	font-size : 12px;
	text-decoration : none;
}
.p_input { 
	border : 0px;
	padding : 0px;
	width : 40px;
	height : 25px !important;
	height : 24px;
	margin : 0px;
	background : #FFFFFF;
}
.p_total { 
	background-color : #F5FBFF;
	border : 1px solid #86B9D6;
	border-right : 0px solid #86B9D6;
	font-weight : bold;
}
.p_pages { 
	background-color : #F5FBFF;
	border : 1px solid #86B9D6;
	margin-right : 1px;
	vertical-align : middle;
	font-weight : bold;
}
.p_num { 
	background-color : #FFFFFF;
	border : 1px solid #DEDEB8;
	margin-right : 1px;
	vertical-align : middle;
}
a : hover.p_num { 
	background-color : #F5FBFF;
	border : 1px solid #86B9D6;
	text-decoration : none;
	font-size : 16px;
}
.p_redirect { 
	background-color : #FFFFFF;
	border : 1px solid #DEDEB8;
	margin-right : 1px;
	font-size : 11px !important;
	font-size : 13px;
}
a : hover.p_redirect { 
	background-color : #F5FBFF;
	border : 1px solid #86B9D6;
	text-decoration : none;
}
.p_curpage { 
	margin-right : 1px;
	border : 1px solid #DEDEB8;
	vertical-align : middle;
	background-color : #FFFFD9;
	color : #92A05A;
	font-weight : bold;
}





.img_border { background : #EAEAEA; border : 1px solid #D8D8D8; padding : 3px }
/* 浮动 轻空 */
.clearBOX { height : 2px;overflow : hidden;margin-top : 2px;clear : both; }
.clear { 
	clear : both;
	font-size : 0;
	line-height : 0;
	height : 8px;
}

.float_left, .floatleft { float : left }
.float_right, .floatright { float : right }
.underline_none { text-decoration : none }

.inline { display : inline }
.para { margin-top : 10px;background-color : #ccc;overflow : auto;text-align : left;color : #000;word-wrap : break-word; word-break : normal; white-space : normal; }
.spadding { margin : 0;padding : 0 }
.middle { text-align : center }
.small { font-size : 9px }
.left { text-align : left }
.right { text-align : right }
.single_line{ line-height : 1.5em;margin-top : 1em; }

.list { padding : 5px 0px; width : 100%; background : #fff }
.list ul { display : block;margin : 0px; padding : 0px; list-style-type : none }
.list ul li { padding-left : 10px; line-height : 20px; border-bottom : 1px dashed #EEE; text-align : left }
.list ul li a { display : block;font-size : 12px; font-weight : normal; color : #ff8000; text-decoration : none }
.list ul li a : hover { font-size : 12px; font-weight : normal; color : #CE0000; text-decoration : underline }
.list ul li a : visited { font-size : 12px; font-weight : bold; color : #8A0000; }
.list ul li span { color : gray; }

/* blog_index */
.view_box1 { border-bottom : 1px solid #dcdcdc;background : #f6f6f6;padding : 15px 10px; }
.view_box2 { border-bottom : 1px solid #dcdcdc;background : #fff;padding : 15px 10px; }
.view_lbox { float : left;width : 160px;text-align : center; }
.view_rbox { float : right;width : 500px; }
.view_photo { margin-top : 10px;border : 1px solid #dcdcdc;width : 160px;height : 135px; }
.view_t { margin-bottom : 16px; }
a.view_t : link, a.view_t : visited, a.view_t : hover, a.view_t : active { font-size : 18px; }
.view_c { font-size : 13px;line-height : 20px;color : #000; }

.view_time { font-size : 12px; color : #626262; }



/* 结束*/
#login { width : 215px; float : left; padding : 1px 0px 0 5px }
#login_movie { margin : 5px 0 0 5px; s }
#login_movie ul { list-style : none; margin-top : 8px; color : #666666; line-height : 20px; border-bottom : 1px #CCCCCC dashed; padding-bottom : 4px }
.poco_software { width : 170px; line-height : 18px; margin-top : 4px; margin-left : 10px }
.poco_software img { float : left; margin-right : 5px }
#screen_banner_1 { clear : both; padding : 0px 0 3px 0; height : 80px; overflow : hidden }

/* 图片列表(top)*/
.imgList { float : left; width : 109px  }
.imgList img { margin-bottom : 3px }
.imgList_title { text-align : center; height : 15px; line-height : 15px; clear : both }
div.content-l { float : left }
div.content-r { float : right }
ul.errorlist { color : #dd0000; }


.changeSkin { margin-top : 0px; }
.changeSkin em { display : block; float : left; color : #999; *line-height : 20px; _line-height : 18px; }
.theme { float : left; background : url(../images/theme.gif) no-repeat 0 4px; height : 10px; overflow : hidden; width : 100px; padding-top : 4px; }
.theme li { float : left; display : inline; margin-right : 6px; background : url(../images/theme.gif) no-repeat 0 -20px; }
.theme li a { display : block; text-indent : -999em; overflow : hidden; width : 10px; height : 10px; }
#theme1.current { background-position : 0 -10px; }
#theme2.current { background-position : -16px -10px; }
#theme3.current { background-position : -32px -10px; }
#theme4.current { background-position : -48px -10px; }
#theme5.current { background-position : -64px -10px; }
#theme6.current { background-position : -80px -10px; }

.clearfix : after { 
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
.clearfix { display : inline-block; }
* html .clearfix { height : 1%; }
.clearfix { display : block; }



/*header*/
.sitenav { display : block;float : left;width : 700px;height : 46px;padding : 8px 0 6px; }
.sitenav li { display : block;float : left;width : 135px;height : 46px;padding : 0 11px;border-left : 1px solid #d5d7e1; }
.sitenav li.section1 { width : 114px;padding-left : 8px;border : none; }
.sitenav li.section2 { width : 114px; }
.sitenav li.section3 { width : 138px; }
.sitenav li.section4 { width : 156px; }
.sitenav li.section5 { width : 160px;padding : 0 0 0 11px; }

.sitenav li ul { display : block;height : 23px; }
.sitenav li ul li { display : block;float : left;width : 38px;height : 23px;line-height : 23px;text-align : center;padding : 0;border : none; }
.sitenav li ul li.w50 { width : 50px; }.sitenav li ul li.w42 { width : 42px; }

/* link app begin */
.link_content li { float : left;margin-right : 1em;line-height : 2em;height : 2em;text-overflow : ellipsis;width : 30%;overflow : hidden; }

/* link app end */



/* colored text */
.red    { color : red; }
.blue   { color : blue; }
.green  { color : green; }
.olive  { color : olive; }
.yellow { color : yellow; }

/* member app begin */
div.vcard { 
	float : left;
	border : 1px dotted #CCC;
	background : #EFEFEF;
	padding : 5px;
	margin : 10px;
	overflow : hidden;
}
div.vcard img{ margin : 1px;width : 64px; height : 64px; overflow : hidden; }
div.vcard ul { 
	list-style : none;
	margin : 0px;
	padding : 0px;
}
/* member app end */

.copyright { margin : 1em 0em; }
.powered { color : #228B22; }