{% extends 'base.html' %}
{% block title %}我的网站{% endblock %}


{% block sidebar %}
<div id='user_intro' style='border:1px solid blue'>
{% if user.is_authenticated %}
{{user.username}},欢迎您的到来！
{% else %}
<p>您必须登录之后才能查看用户信息，请在右边登录。</p>
{% endif %}
</div>

<div id='user_intro'>
<ul>
    <li><a href='/accounts/register'>注册新用户</a></li>
    <li>看看新闻</li>
    <li>去论坛</li>
    <li></li>
    <li><a href='/accounts/logout'>注销</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div>
您的账号已经被成功激活！
</div>


{% endblock %}