{% extends 'base.html' %}
{% load i18n themes news_tags%}

{% block title %}首页{% endblock %}
{% block js.custom %}<script type="text/javascript" src="{{ MEDIA_URL }}themes/yaml/js/yaml.index.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tab.js"></script>
{% endblock js.custom %}

{% block content %}
<div  class="subcolumns coolsubcol">
	即时新闻：<marquee onmouseover="stop();" onmouseout="start();" scrollamount="6" width="80%">
	{% for notice in notice_list %}
   <a href="{{ notice.get_absolute_url }}" target="_blank">{{ notice.title }}</a>{% endfor %}</marquee>
</div>

<div class="subcolumns">
	<div id="banner">
		 
			<a href="{% url signup %}"><img  src="{{ MEDIA_URL }}themes/yaml/images/banner-header.jpg"  /></a>
		 
	</div>
</div>



<div class="subcolumns">
	<div class="c75l">
	  <div class="subcl">
	  	<div class="subcolumns">
            <div class="c50l">
              <div class="subcl">
              	<div id="recommended">
					<div class="big_pic">
						{% for pic_news in pic_news_list %}
						<div id="pic_{{ forloop.counter }}" {% if not forloop.first %}style="display:none;"{% endif %}><a  href="{{pic_news.get_absolute_url}}" blockid="1121"><img src="{{ pic_news.pic }}" alt="{{ pic_news.title }}" onmouseover="pauseSwitch();"  onmouseout="goonSwitch();"/></a></div>{% endfor %}


						<div id="pictitle" onmouseover="pauseSwitch();"  onmouseout="goonSwitch();"></div>
						<ul id="picnum"></ul>
						<div class="bg" onmouseover="pauseSwitch();"  onmouseout="goonSwitch();"></div>
						<script type="text/javascript">
						var maxpic = {{pic_news_list.count}} ;
						var CurScreen = 1 ;

						var piclist = new Array();
						{% for pic_news in pic_news_list %}
						piclist[{{ forloop.counter }}]=Array();
						piclist[{{ forloop.counter }}]['title'] = '{{ pic_news.title }}' ;
						piclist[{{ forloop.counter }}]['stitle'] = '<a href="{{pic_news.get_absolute_url}}">{{ pic_news.subtitle }}</a>' ;
						piclist[{{ forloop.counter }}]['link1'] = '{{pic_news.get_absolute_url}}' ;
						{% endfor %}


						var refreshSwitchTimer = null;
						switchPic(CurScreen);
						refreshSwitchTimer = setTimeout('reSwitchPic();', 3500);
						<!---->
							function switchPic(screen) {
							if (screen > maxpic) {
								screen = 1 ;
							}
							for (i=1;i<=maxpic;i++) {
								document.getElementById("pic_"+i).style.display = "none" ;
							}
							document.getElementById("pic_"+screen).style.display = "block" ;
							showpicnum(screen);
							showpictitle(screen);
							CurScreen = screen  ;
							}
							function showpicnum(screen) {
							var NavStr = "" ;
							for (i=maxpic;i>=1;i--) {
								if (i == screen) {
									NavStr += '<li onmouseover="pauseSwitch();" onmouseout="goonSwitch();"><a href="javascript://" target="_self" class="active">'+i+'</a></li>' ;
								}
								else {
									NavStr += '<li onmouseover="pauseSwitch();" onmouseout="goonSwitch();" onclick="goManSwitch('+i+');"><a href="javascript://" target="_self">'+i+'</a></li>' ;
								}

							}
							document.getElementById("picnum").innerHTML = NavStr ;
							}
							function showpictitle(screen) {
							var titlestr = "" ;
							titlestr = '<h3><a href="'+piclist[screen]['link1']+'" target="_blank">'+piclist[screen]['title']+'</a></h3><p>'+piclist[screen]['stitle']+'</p>' ;
							document.getElementById("pictitle").innerHTML = titlestr ;
							}
							function reSwitchPic() {
							refreshSwitchTimer = null;
							switchPic(CurScreen+1);
							refreshSwitchTimer = setTimeout('reSwitchPic();', 3500);
							}
							function pauseSwitch() {
							clearTimeout(refreshSwitchTimer);
							}
							function goonSwitch() {
							clearTimeout(refreshSwitchTimer);
							refreshSwitchTimer = setTimeout('reSwitchPic();', 3500);
							}
							function goManSwitch(index) {
							clearTimeout(refreshSwitchTimer);

							CurScreen = index - 1 ;
							reSwitchPic();
							}
							</script>
				<!-- --></div>

				
					
				</div>
				

				<div id="tab1" class="report">
					<div class="reportnav">
						<!--TAB-->
						<div class="menu">
						<ul id="menu2">
						<li  id="Tablstbox21" onmouseover="tab('Tablstbox2',1,2)"  class="current">一周新闻排行</li>
						<li  id="Tablstbox22" onmouseover="tab('Tablstbox2',2,2)">推荐新闻</li>
						</ul>
						</div>
						<!--TAB-->
					</div>
					<div class="Tablstbox2" id="main2">
						<div  class="cont" id="Tablstbox2_cont1">
							<ul>
								<li>[行业资讯]&nbsp;<a href="#" target="_blank">新闻标题不超过100字节</a></li>
								<li>[行业资讯]&nbsp;<a href="#" target="_blank">新闻标题不超过100字节</a></li>
								<li>[行业资讯]&nbsp;<a href="#" target="_blank">新闻标题不超过100字节</a></li>
								<li>[行业资讯]&nbsp;<a href="#" target="_blank">新闻标题不超过100字节</a></li>
								<li>[行业资讯]&nbsp;<a href="#" target="_blank">新闻标题不超过100字节</a></li>
							</ul>
						</div>
						<div  class="cont" id="Tablstbox2_cont2"  style="display:none;">
							<ul class="block">
								<li>[推荐新闻]&nbsp;<a href="#" target="_blank">新闻标题不要超过100字节</a></li>
								<li>[推荐新闻]&nbsp;<a href="#" target="_blank">新闻标题不要超过100字节</a></li>
								<li>[推荐新闻]&nbsp;<a href="#" target="_blank">新闻标题不要超过100字节</a></li>
								<li>[推荐新闻]&nbsp;<a href="#" target="_blank">新闻标题不要超过100字节</a></li>
								<li>[推荐新闻]&nbsp;<a href="#" target="_blank">新闻标题不要超过100字节</a></li>
							</ul>
						</div>
						
					</div>
				</div>
				<!---->
				
				
				

              </div><!--subcl-->
            </div><!--c50l-->

            <div class="c50r">
              <div class="subcr">
                <div class="headline">
				    <h2>推荐头条</h2>
                	{% for headline_news in headline_news_list %}
					<h3><a href="{{headline_news.get_absolute_url}}" target="_blank">{{ headline_news.title|slice:"0:13" }}</a></h3>
					<p>{{headline_news.summary|slice:"0:32"}}...<a href="{{headline_news.get_absolute_url}}" target="_blank">[查阅全文]</a></p>
					{% endfor %}
					<h2>最新新闻</h2>
					<ul>						
						{% for news in latest_news %}
						<li>{%comment%}{{ news.pub_date|date:"Y-m-d" }}{%endcomment%}{{ news.category }}: <a href="{{news.get_absolute_url}}" title="{{ news.title }}" target="_blank">{{ news.title|slice:"0:15" }}</a>  </li>
						{% endfor %}
					</ul>
				</div>
              </div>
            </div>
          </div>
	  </div>
	</div>

	<div class="c25r">
	  <div class="subcr">
	    
	    <div>
			<div class="notice">
				<ul>
					<li><a href="/notice/#" target=_blank><strong>网站通知网站通知</strong></a> </li> 
					<li><a href="/notice/#" target=_blank><strong>网站通知网站通知</strong></a> </li> 
					<li><a href="/notice/#" target=_blank><strong>网站通知网站通知</strong></a> </li> 
		        </ul>
			</div>        
	    </div>
	  
		<div class="special">
			<div class="floatbox">
				<h2>XX专题</h2>
			
				<p>
				<ul>
					<li><a href="/special/#" target=_blank><strong>XX专题标题</strong>XX专题相关描述</a> </li> 
					<li><a href="/special/#" target=_blank><strong>XX专题标题</strong>XX专题相关描述</a> </li> 
					<li><a href="/special/#" target=_blank><strong>XX专题标题</strong>XX专题相关描述</a> </li> 
					<li><a href="/special/#" target=_blank><strong>XX专题标题</strong>XX专题相关描述</a> </li> 
					<li><a href="/special/#" target=_blank><strong>XX专题标题</strong>XX专题相关描述</a> </li> 
		        </ul> 
				</p>
			  </div>
			</div>        
	    </div>	  
	    
	</div>
</div>

<div class="subcolumns coolsubcol">
	
	<div class="subc">
		<h2><span class="float_right"><A href="#{%comment%}/photologue/{%endcomment%}">更多图片...</A></span>XX图片</h2>
		<div class="floatbox">			
			{% for photo in latest_photos %}
			<p class="icaption_left">
				<a href="{{ photo.get_absolute_url }}" ><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.caption }}" width="132" height="99"/><strong><b>图{{ forloop.counter }}:</b> {{ photo.title }} </strong></a>
			</p>
			{% endfor %}			 
		</div>
	</div>	
</div>

<div class="subcolumns coolsubcol">

	<div class="c33l">
	  <div class="subcl">
	    {%comment%}<h3>时政要闻</h3>

		{% get_posts_by_category "szyw" 5 as news_items %}
	
		<ul>
			{% for item in news_items %}
			<li>{{ item.pub_date|date:"m-d" }} <a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>		
			{% endfor %}

		</ul>{%endcomment%}
	  </div>
	</div>

	<div class="c33l">
	  <div class="subcl">
	    <h3>XX动态</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>

	<div class="c33r">
	  <div class="subcr">
	    <h3>XX工作</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>
</div>

<div class="subcolumns coolsubcol">


	<div class="c33l">
	  <div class="subcl">
	    <h3>XXX管理</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>

	<div class="c33l">
	  <div class="subcl">
	    <h3>XXXXX</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>

	<div class="c33r">
	  <div class="subcr">
	    <h3>XXXXXX</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>
</div>


<div class="subcolumns coolsubcol">
<div id="tab2" class="report">
<div class="reportnav">
	<div class="menu">
		<ul id="menu16">
			<li>某个分类:</li>
			<li  id="jgys1" onmouseover="tab('jgys',1,3)" class="current">标签一</li>
			<li  id="jgys2" onmouseover="tab('jgys',2,3)">标签二</li>
			<li  id="jgys3" onmouseover="tab('jgys',3,3)">标签三</li>
		</ul>
	</div>
</div>

<div class="cont" id="jgys_cont1">
	<ul>
	<li>·<a href="" target="_blank">法航空客A330飞机坠毁</a></li>
	<li>·<a href="" target="_blank">百年通用汽车遭遇破产危机</a></li>
	<li>·<a href="" target="_blank">成都一公交车燃烧伤亡惨重</a></li>
	</ul>
</div>
<div class="cont" id="jgys_cont2" style="display:none;">
	<ul>
	<li>·<a href="6D000A94367.html" target="_blank">胡锦涛就加蓬总统邦戈逝世向加蓬代总统致唁电</a></li>
	<li>·<a href="6D000A94367.html" target="_blank">孟建柱：公安领导干部要做到知错就改</a></li>
	</ul>
</div>
<div class="cont" id="jgys_cont3" style="display:none;">
	<ul>
	<li>·<a href="6D000A94367.html" target="_blank">胡锦涛就加蓬总统邦戈逝世向加蓬代总统致唁电</a></li>
	<li>·<a href="6D000A94367.html" target="_blank">孟建柱：公安领导干部要做到知错就改</a></li>
	<li>·<a href="6D000A94367.html" target="_blank">胡锦涛就加蓬总统邦戈逝世向加蓬代总统致唁电</a></li>
	</ul>
</div></div>


		

</div>


<div class="subcolumns coolsubcol">

	<div class="c75l">
	  <div class="subcl">
	    <h3>XX</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>

	<div class="c25r">
	  <div class="subcr">
	    <h3>热门XX排行</h3>

		<ul>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
			<li><a href=" ">待添加...</a>2009-2-2</li>
		</ul>
	  </div>
	</div>
</div>
{% endblock %}

{% block extended_content %}
<div id="extended">
	<div class="page_margins">
		<div class="page">
			<div id="links">
				<h3>友情链接</h3>
				<ul  class="text">{% for link in links %}
					<li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock extended_content%}