{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL}}userprofile/css/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}userprofile/css/blueprint/print.css" type="text/css" media="print" />
<link rel="stylesheet" href="{{ MEDIA_URL }}userprofile/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL}}userprofile/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="{{ MEDIA_URL}}userprofile/css/django-profile.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery-1.2.6.min.js"></script>
{% endblock %}

{% block content %}
	{% block userprofile_navigation %}{% endblock %}
	<div id="content-main" class="span-13 prepend-1 colborder">
		{% block userprofile_content %}{% endblock %}
	</div><!-- END content-main -->
	<div id="content_related" class="span-8 last">
		{% block userprofile_content_related %}{% endblock %}
	</div><!-- END content-related -->
{% endblock %}
