{% load i18n navbar %}

{%comment%}{{navbars}}    {%endcomment%}

{% for navbar in navbars %}
     <ul  id='menu'>
        {% for entry in navbar %}
        <li{% if entry.selected %} class="selected"{% endif %}><a href="{{ entry.url }}" {% if entry.selected %} class="selected"{% endif %} title="{{ entry.title|escape }}">{% trans entry.name %}</a></li>
        {% endfor %}
    </ul>
{% endfor %}

{% spaceless %}
{% for navbar in navbars %}
    <ul class='navbar-two'>
        {% for entry in navbar %}
        {% if entry.children|length %}{% if entry.selected %}
                {% for elemt in entry.children %}
                <li{% if elemt.selected %} class="selected"{% endif %}><a href="{{ elemt.url }}" {% if elemt.selected %} class="selected"{% endif %} title="{{ elemt.title|escape }}">{% trans elemt.name %}</a></li>
                {% endfor %} 
        {% endif %}{% endif %}
        {% endfor %}
    </ul>
{% endfor %}
{% endspaceless %}
{%comment%}<ul id='menu' class="navbar-{{ forloop.counter|cssnumber }}">
    {% for entry in navbar %}<li{% if entry.selected %} class="selected"{% endif %}><a href="{{ entry.url }}" {% if entry.selected %} class="selected"{% endif %} title="{{ entry.title|escape }}">{% trans entry.name %}</a></li>
    {% endfor %}
</ul>{%endcomment%}
{%comment%}<ul id='menu' class="navbar-{{ forloop.counter|cssnumber }}">
1
{% for entry in navbar %}
<li{% if entry.selected %} class="selected"{% endif %}>
    {{ entry.name }}
    <ul>
        {% for ele in entry.children %}
        {{ele}}
        {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>{%endcomment%}