{% extends "base.html" %}{% load i18n %}
{% load markup news_tags %}{% block title %}最新新闻列表{% endblock %}

{% block breadcrumbs %}&raquo; <a href="{% url news-index %}">新闻中心</a> {% endblock %}

{% block maintitle %}<span><a href="post" title="添加一条新闻">发布新闻</a></span>最新新闻列表{% endblock %}

{% block content %}

<div class="subcolumns coolsubcol">
{% for category in categories %}

	<div class="{% cycle c33l,c33l,c33r %}">
	  <div class="{% cycle subcl,subcl,subcr %}">
	    <h3>{{ category.name|escape }}</h3>
		{% get_posts_by_category category.slug 5 as news_items %}
		<ul>{% for item in news_items %}
			<li><a href="{{ item.get_absolute_url }}">{{ item.title|escape }}</a>{{ item.date }}</li>		
		{% endfor %}</ul>
	  </div>
	</div>

{% endfor %}
</div>
{% endblock %}