/******************* CSS Document *******************/
* {
margin: 0;
padding: 0;
}
html, body {
height: 100%;
text-align: center;
color:#000;
font-size:12px; 
font-family: Tahoma,"宋体",sans-serif;

background: #f2f8fa  url(default/bg.gif)  repeat-x top;

margin: 0;
padding: 0;
}
body,td, input, textarea, select, button {
	color: #333;
	font: 12px/1.6em Arial,Tahoma, sans-serif;
	line-height:20px;
}
input, textarea, select, button,img{
	vertical-align:middle;
}
select,input,textarea{border:1px solid #CCC;margin:2px;padding:2px 4px;}
select,input:hover,textarea:hover{background:#FEFCE2;border:1px solid #CCC;padding:2px 4px;}
select,input:focus,textarea:focus{background:#FEFCE2;border:1px solid #CCC;padding:2px 4px;}

h1, h2, h3, h4, h5, h6,dl,dt,dd,ol,ul,li,dl,dt,dd,form,fieldset{margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

h1{
	line-height:27px;
	padding-left:15px;
	background:url(default/h1-bg-r.gif) no-repeat right;
	font-family:Tahoma, Arial, sans-serif;
	color:#666;
}
	h1 span{
		float:right;
		padding-right:15px;
		font-weight:normal;
	}
	h1 span a{
		color:#22ac38  ;
	}
	h1 span img{
		margin-top:8px;
	}	

h2{
	font-family:Tahoma, Arial, sans-serif;
	font-size:14px;
	color:#666;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px dotted #ccc;
}	


a {text-decoration:underline; color:#000000}
a:hover {text-decoration:underline}
a{text-decoration:none;color:#336601}
a:hover{text-decoration:none;color:#D59139}
a {color:#12A3DA; text-decoration: none; }
a:hover { color:#cc0000; text-decoration: underline; }
a:visited {font-weight:bold;color:#1F7CAF}
div,form,img{margin: 0; padding: 0; border:none}
ol,ul,dl{list-style-type:none}
li {list-style:none;margin-top:2px;}
ul.errorlist{color:#dd0000;}
dl{display:block;}
dt{margin:0px 0px 0px 20px;}
dd{margin:0px 0px 0px 20px;}
table,td,tr,th {font-size:12px}

p{ text-indent: 2em;} 
p.text {margin:0px}
1div{border:1px solid #f88;}
1table{border:1px solid #688;}
div{text-align: left;}
#wrapper {
width: 100%;
min-height: 100%;


margin: auto;
text-align: left;
}
* html #wrapper {
height: 100%;
} 

#topwrapper {
width: 100%;
min-height: 120px;
/*background-color: #246838;*/



/*margin-top:15px;*/
text-align: center;
border:0px solid #ff8;
}

#midwrapper {
width: 100%;
min-height: 300px;
height: 300px;
/*background: #71B787;*/
margin: 0px;
text-align: center;
}


#botmwrapper {
width: 100%;
min-height: 80px;
height: 80px;
/*background-color: #246838;*/
margin: 0px;
text-align: center;
vertical-align:bottom;
padding-top:20px;
padding-bottom:0px;
}

#mininav {
	background: #f8f8f8; color: #a1a0a0; line-height: 18px; border-bottom: #e6e6e6  1px solid; height: 22px; text-align: center
}
#mininav img {
	border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; margin-bottom: 4px; border-right-width: 0px
}
#mininav div {
	font-size: 12px; margin: 0px auto; width: 898px; padding-top: 3px; font-family: 宋体; text-align: right
}
#mininav a {
	padding-right: 3px; padding-left: 3px; font-size: 12px; padding-bottom: 1px; margin: 0px 3px; color: #a1a0a0; padding-top: 1px; text-decoration: none
}
#mininav a:hover {
	background: #929292; color: #fff
}

#mininav #tool{width:600px;padding:5px 5px 0 0; float:right;text-align:right;}
#mininav #notice{width:240px;padding:5px 5px 0 10px; float:left;overflow:hidden;}






#header {
width:950px;
background: #fe85;
padding-top:3px;
text-align: left;
border:0px solid #369;
}






#header #logo{
FLOAT: left; WIDTH: 128px; TEXT-ALIGN: center
margin-top: 10px;
height:33px;
}
#header h2{
margin-top: 10px;

}


#nav{padding:0px 20px 0px 0px;}
ul#menu{display:inline;list-style:none;margin:0px;}
ul#menu li {display:inline;line-height:30px;margin:2px}
ul#menu li span{border-left:0px solid #369;}
ul#menu li a{
/*display: inline;*/
width: 80px;
color: #505050;
font-weight: bold;
padding: 4px;
margin: 2px;
border-left: 4px solid #fff;
text-decoration: none;
}
ul#menu li a:hover{
background-color: #eeeeee;
border-left: 4px solid #ccc;
color: #000;
}
ul#menu li a:visited {font-weight:bold;color:#fff}


.top-menu {
	margin: auto;
	height: 38px;
	background: #00b7ee   url(default/top-menu-bg.gif) repeat-x;
	line-height:38px;
	color:#fff;
	padding-left:15px;
}
	.top-menu a {
		color:#fff;
		padding:0 15px;
		font-size:14px;
	}
	.top-menu a:hover {
		color:#000;
		text-decoration:underline;
	}	
		.select-menu{
			background: url(default/select-menu.gif) no-repeat center bottom;
		}

#pagebody {
width:950px; /*设定宽度*/
margin:8px auto; /*居中*/
text-align: center;
}

#sidebar {
width:200px; /*设定宽度*/
height: 300px;
text-align:left; /*文字左对齐*/
float:left; /*浮动居左*/
clear:left; /*不允许左侧存在浮动*/

/*background-color: #fff;

border: 1px solid #ccc;*/

color: #999999;

}

#mainbody {
width:740px!important;width:740px;
text-align:left;
float:right; /*浮动居右*/
clear:right; /*不允许右侧存在浮动*/
overflow:hidden;

/*border: 1px solid #FEDA82;*/
background-color: #FFFFFF;
color: #4E4E4E;

background-image: url('default/sport.gif');
background-repeat: no-repeat;
background-position: right top;

background:#fff; 

} 


/*文章区域*/
#mainbody div.modth{height:31px;background:#3b5995;color:#b2d0ea;font-weight:bold;font-size:14px;color:#ebebeb;padding:0 10px;line-height:31px;}
#mainbody div.tit{color:#890000;font-size:14px;font-weight:bold;font-family:Tahoma;text-align:left;border-top:1px #FF8040 solid;}
#mainbody div.tit a{color: #890000;font-size:14px;font-weight:bold;text-decoration:none;font-family:Tahoma;background:none}
#mainbody div.tit a:visited{color:#890000;text-decoration:none;font-family:Tahoma}
#mainbody div.tit a:hover{color:#888;}
#mainbody .post-date{margin:0px 0 8px 0;color:#FF8000;font-family:Tahoma;text-align:left}
#mainbody div.cnt{color:#5A1F01;line-height:20px;font-size:12px;background:none}
#mainbody *{line-height:200%!important;}
#mainbody div.cnt{color:#5A1F01;font-size:12px;line-height:20px;font-family:Tahoma}
#mainbody div.cnt a{color:#5A1F01;line-height:20px;text-decoration:none;font-size:12px;font-family:Tahoma}
#mainbody div.cnt a:visited{color:#5A1F01;text-decoration:none;font-size:12px;line-height:20px;font-family:Tahoma}
#mainbody div.cnt a:hover{color:#B9976E;background:none;line-height:20px;text-decoration:underline;}
#mainbody div.area{padding:8px;border:1px solid #bfc8cf;}

 /*文章内容中的链接*/
#mainbody div.cnt pre {background:none;padding-left:10px;padding-right:5px;margin-left:10px;margin-right:10px;border-left:8px #CcCcCc solid;font-family:Tahoma;line-height:22px;}
#mainbody div.more{margin:0px 12px 0px 0;text-align:right;background:none;padding-right:28px;height:27px}
#mainbody div.more a{color:#4C4C4C;font-size:12px;font-family:Tahoma; text-decoration:none}
#mainbody div.more a:visited{color:#4C4C4C;text-decoration:none}
#mainbody div.more a:hover{color: #445F8;text-decoration:underline}
#mainbody div.opt{margin:0px 12px 12px 12px;text-align:left;color: #999;
 font-size: .8em;
 border: 1px solid #E3E4E4;
 background: #F5F5F5;
 padding: 3px 10px;
 clear: both;}
#mainbody div.opt{color:#958A5C;font-size:12px;text-decoration:none;font-family:Tahoma;text-align:left;}
#mainbody div.opt a{color:#958A5C;font-size:12px;font-family:Tahoma;text-decoration:none}
#mainbody div.opt a:visited{color:#958A5C}
#mainbody div.opt a:hover{color: #4C4C4C;text-decoration:underline}
#mainbody div.line{margin-top:5px;margin-bottom:5px;}
#mainbody div.none{padding:100px 0 100px 0;color:#000;font-size:12px}

#mainbody .pagebar {margin: 5px 0;}
#mainbody .pagebar a {
margin: 0 2px;
padding: 2px 6px;
text-align: center;
border: 1px solid #ccc;
color: #127DE9;
background: #eee;
}
#mainbody .pagebar a:hover{font-size:16px;background: #ff8000;color: #fff;text-decoration: none;}
#mainbody .pagebar .on {background: #ff8000;color: #fff;text-decoration: none;}

#mainbody  .main_bottom{width:620px;height:31px;background:url(default/main_bot.gif) no-repeat 0 0;}

.box {
	border-left:1px solid #cfdee3;
	border-right:1px solid #cfdee3;
	background:#fff;
	padding:10px 15px 5px 15px;
}
.box1 {
	border-left:1px solid #cfdee3;
	border-right:1px solid #cfdee3;
	background:#fff;
	padding:5px 18px 5px 18px;
	margin:0;
}
.box2 {
	border-left:1px solid #cfdee3;
	border-right:1px solid #cfdee3;
	padding:10px 18px 5px 18px;
	margin:0;
	background:#fff url(default/side-bg.gif) repeat-x top;
}

.box3 {
	border-left:1px solid #cfdee3;
	border-right:1px solid #cfdee3;
	background:#fff;
	padding:5px 15px 10px 15px;
}
	.box3 th {
		line-height:16px;
		padding:5px 0;
		color:#666;
	} 

	.box3 td {
		line-height:16px;
		padding:6px 0;
		border-bottom:1px dotted #ccc;
		
	} 
.box4 {
	border-left:1px solid #cfdee3;
	border-right:1px solid #cfdee3;
	background:#fff;
	padding:5px 15px 10px 15px;
}
	.box4 td {
		line-height:20px;
		padding:10px 0;
		border-bottom:1px dotted #ccc;
	} 
		.nr {
			padding-right:60px;
			font-size:13px;
			display:block;
		}
		
		
.box5 {
	border-left:1px solid #cfdee3;
	border-right:1px solid #cfdee3;
	background:#fff;
	padding:15px;
}
	.box5 td {
		padding:10px 0;
	}

.box-top {
	background:#f4f5f5   url(default/h1-bg.gif) no-repeat left;
	border-bottom:1px solid #dfeaed  ;
	height:27px;
}
.box-top1 {
	background:#f4f5f5   url(default/box-top-l.gif) no-repeat left;
	height:4px;
	line-height:4px;
	font-size:0;
	text-align:right;
}
	.box-top1 span {
		background:url(default/box-top-r.gif) no-repeat right;
		height:4px;
		width:4px;
		float:right;
		display:block;
	}

.box-bot {
	background:#fff url(default/box-bot-l.gif) no-repeat left;
	height:4px;
	line-height:4px;
	font-size:0;
	text-align:right;
}
.box-bot span {
	background:url(default/box-bot-r.gif) no-repeat right;
	height:4px;
	width:4px;
	float:right;
	display:block;
}





#footer{
width:950px;
height: 55px;
padding-top: 5px;
text-align: center;

/*background-color: #fafbfc;*/

color: #000;
border-top:1px solid #8DCFE2;
}




.p_bar {
margin: 1px 0px;
clear: both;
}
.p_bar a {
float: left;
padding: 1px 4px;
font-size: 12px;
text-decoration: none;
}
.p_input {
border: 0px;
padding: 0px;
width: 40px;
height: 25px !important;
height: 24px;
margin: 0px;
background: #FFFFFF;
}
.p_total {
background-color: #F5FBFF;
border: 1px solid #86B9D6;
border-right: 0px solid #86B9D6;
font-weight: bold;
}
.p_pages {
background-color: #F5FBFF;
border: 1px solid #86B9D6;
margin-right:1px;
vertical-align: middle;
font-weight: bold;
}
.p_num {
background-color: #FFFFFF;
border: 1px solid #DEDEB8;
margin-right:1px;
vertical-align: middle;
}
a:hover.p_num {
background-color: #F5FBFF;
border: 1px solid #86B9D6;
text-decoration: none;
font-size:16px;
}
.p_redirect {
background-color: #FFFFFF;
border: 1px solid #DEDEB8;
margin-right:1px;
font-size: 11px !important;
font-size: 13px;
}
a:hover.p_redirect {
background-color: #F5FBFF;
border: 1px solid #86B9D6;
text-decoration: none;
}
.p_curpage {
margin-right:1px;
border: 1px solid #DEDEB8;
vertical-align: middle;
background-color: #FFFFD9;
color: #92A05A;
font-weight: bold;
}





.img_border {background:#EAEAEA; border:1px solid #D8D8D8; padding:3px}
/* 浮动 轻空 */
.clearBOX {height:2px;overflow:hidden;margin-top:2px;clear:both;}
.clear{
	clear:both;
	font-size:0;
	line-height:0;
	height:8px;
}

.float_left, .floatleft{float:left}
.float_right,.floatright{float:right}
.underline_none {text-decoration:none}

.inline{display:inline}
.para{margin-top:10px;background-color: #ccc;overflow:auto;text-align:left;color:#000;word-break: break-all;white-space:normal;}
.spadding{margin:0;padding:0}
.middle{text-align:center}
.small{font-size:9px}
.left{text-align:left}
.right{text-align:right}


.list {padding:5px 0px; width:100%; background:#fff}
.list ul {display:block;margin:0px; padding:0px; list-style-type:none}
.list ul li {padding-left:10px; line-height:20px; border-bottom:1px dashed #EEE; text-align:left}
.list ul li a {display:block;font-size:12px; font-weight:normal; color:#ff8000; text-decoration:none}
.list ul li a:hover {font-size:12px; font-weight:normal; color:#CE0000; text-decoration:underline}
.list ul li a:visited {font-size:12px; font-weight:bold; color:#8A0000;}
.list ul li span{color:gray;}

/* blog_index */


.view_box1 {border-bottom:1px solid #dcdcdc;background:#f6f6f6;padding:15px 10px;}
.view_box2 {border-bottom:1px solid #dcdcdc;background:#fff;padding:15px 10px;}
.view_lbox {float:left;width:160px;text-align:center;}
.view_rbox {float:right;width:500px;}
.view_photo {margin-top:10px;border:1px solid #dcdcdc;width:160px;height:135px;}
.view_t {margin-bottom:16px;}
a.view_t:link,a.view_t:visited,a.view_t:hover,a.view_t:active{font-size: 18px;}
.view_c {font-size:13px;line-height:20px;color:#000;}
p{margin-bottom:18px;text-indent:2em;}
.view_time {font-size:12px; color:#626262;}

/* 阴影BOX*/
.shadow_box {border-bottom:1px #CCCCCC dashed; border-top:1px #CCCCCC dashed; position:relative}
.shadow_box_out {background:#F3F3F3; border:1px #C9C9C9 solid}
.shadow_box_in {background:#E8E8E8; top:13px; right:6px; position:absolute; z-index:-1}

/* 绿色BOX*/
.ash_title {color:#FFFFFF; font-weight:bold; font-size:14px; background:#7B7B7B; padding:3px; padding-left:7px}
.ash_title_today {height:16px; background:#7B7B7B; padding:3px}

/* 字体 */
.font_green_bold {color: #6bc631; font-weight:bold}
.font_deep_green_bold {color: #FF6600; font-weight:bold}
.font_deep_green {color: #51A71A}
.font_deep_green_bold_14 {color: #CC0000; font-weight:bold; font-size:14px}
.font_deep_deep_green_bold {color: #255E00; font-weight:bold}
.red_font_bold {color:#FA5E00; font-weight:bold; font-size:14px}
.clear_both {clear:both}
.ash_arrow {font-family:Webdings; font-size:12px; color:#D8D8D8}
.font_deep_red {color:#D2005B}
.font_bare_bold {color:#E0481F; font-weight:bold}
.font_fleet_bold {color:#00C7D9; font-weight:bold}
.font_orange {color:#F7701F}
.font_orange_bold {color:#F7701F; font-weight:bold}
.font_ash {color:#555555}
.font_blue_deep_bold {color:#016BA7; font-weight:bold}
.font_bare_bold {font-weight:bold; color:#CC0000}
.font_bare { color:#CC0000}
.font_deep_ash_2 {color:#3F3F3F}
.font_deep_ash_bold_2 {color:#3F3F3F; font-weight:bold}
.font_cc0000_b {color:#CC0000; font-size:12px; font-weight:bold}

/* 第一屏 */
#magic {width:300px; height:260px; border-right:1px #ccc solid; float:left; padding:2px 10px 0px 0px; overflow:hidden}
#magic_paly {background:#F3F3F3; border:1px #C9C9C9 solid; padding:10px 10px 0px 10px; height:240px}

/* flash幻灯展示 */
#flash_show {height:210px; text-align:center; padding:0; border-color:#DFF2D2; position:relative; border-width:4px}
#flash_img {width:100%; filter:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00)}

/* 按钮控制区 */
#flash_btn {position:absolute; top:140px; left:1px; background-color:#FFF; filter:alpha(opacity=50)}
#flash_btn div {margin:5px}

/* flash幻灯展示控制块 */
#flash_show_ctl {margin-top:5px; color:#3FA600; height:16px}
#flash_show_ctl a {color:#3FA600}
#flash_show_ctl_msg {float:left; filter:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00)}

/* flash_show_ctl边框上向上的突角 */
#flash_show_ctl_tuber {position:relative; left:305px; top:-17px; z-index:100}

/* 箭头 */
#flash_show_ctl_arrow {margin-right:5px}
#flash_img img {width:280px; height:210px}
#flash_show_box {width:280px; overflow:hidden}
#flash_show_control {overflow:hidden; margin-top:10px}

/* flash幻灯展示 */

/*最近一分钟被看过的图片*/
#minute_one_img_list {margin-top:5px}
#minute_one_title {margin:5px 0 0 8px; padding:5px 0; font-size:14px; color:#016BA7; font-weight:bold; height:16px}
#minute_one_title a {color:#016BA7}
.minute_one_img {float:left; text-align:center; width:87px; line-height:20px; margin-left:12px; height:101px; overflow:hidden}

/* mypoco 开始*/
#mypoco {width:446px; height:262px; border-right:1px #ccc solid; float:right; padding-left:3px; overflow:hidden}
#mypoco_space_menu {height:20px; border:1px #cccccc solid; width:408px; border-bottom:0px; border-top:0px}
#mypoco_space_menu ul {line-height:20px}
#mypoco_space_menu li {float:left; color:#999999; cursor:pointer; width:101px; border-left:1px #CCCCCC solid}
#mypoco_space_menu_info {width:410px; color:#FFFFFF; background:url(images/menu_bg0330.gif) repeat-x; height:31px; line-height:31px}
#screen_1 {height:265px}

/*今日精选*/
#toady_choiceness {padding-left:2px; margin-bottom:10px}
#toady_choiceness img {border:1px #999999 solid; float:left; margin-right:3px; margin-top:8px}

/* 今日聚焦 */
#today_focus {height:90px; overflow:hidden}
.today_focus_box {width:195px; padding-left:5px; height:68px; float:left}
.today_focus_content {float:right; line-height:17px; width:120px; overflow:hidden}
.today_focus_content a {text-decoration:none}
.today_focus_content_title {font-weight:bold; color:#FF6600}

/*今日精选图片*/
#today_more_photo {width:400px}
#mypoco_one_minute_space_title {margin:5px 0 0 8px; padding:5px 0; font-size:14px; color:#016BA7; font-weight:bold; height:15px}
#mypoco_one_minute_space_title a {color:#016BA7}
#mypoco_one_minute_space_img_list {margin-top:5px}
.mypoco_one_minute_space_img {float:left; text-align:center; width:65px; height:84px; margin-left:17px}

/* mypoco 结束*/
#login {width:215px; float:left; padding:1px 0px 0 5px}
#login_movie {margin:5px 0 0 5px; s}
#login_movie ul {list-style:none; margin-top:8px; color:#666666; line-height:20px; border-bottom:1px #CCCCCC dashed; padding-bottom:4px}
.poco_software {width:170px; line-height:18px; margin-top:4px; margin-left:10px}
.poco_software img {float:left; margin-right:5px}
#screen_banner_1 {clear:both; padding:0px 0 3px 0; height:80px; overflow:hidden}

/* 第三屏 */
#screen_3 {border-bottom:1px #CCCCCC dashed; height:1201px; overflow:hidden}
.screen_3_ul {padding:10px 0 10px 10px; line-height:20px}
.screen_3_ul a {text-decoration:none}
.screen_3_ul li {background: url(index_images/index_icon03v201.gif) center left no-repeat; padding-left:7px}
#screen_3 .left {float:left; width:640px; border-right:1px #ccc solid; overflow:hidden}

/*推荐图片*/
.left_info_topic_title {padding:5px 0; height:17px; font-size:14px; color:#666666; margin-top:1px; background:url(index_images/index0320_03.gif) repeat-x; border-bottom: 1px #cccccc solid}
.left_info_topic_img_div {width:110px; float:left}
.left_info_topic_box {height:252px; border-bottom:1px #CCCCCC dashed; padding:8px 10px 10px 0px; overflow:hidden}
.left_info_topic_title_box {float:left; width:475px; overflow:hidden; margin-left:15px}
.left_info_topic_box_title {margin-top:3px; height:25px; width:260px; float:left; color: #3FA600; font-weight:bold; font-size:14px; text-decoration:underline}
.left_info_topic_box_title a {color: #FF9900; font-weight:bold; font-size:14px; text-decoration:underline}
.left_info_topic_stat {float:right; width:200px; height:25px; color:#555555; text-align:right}
.left_info_topic_stat a {color:#016BA7; font-weight:bold}
.left_info_topic_content {color:#555555; float:left; width:480px; height:75px; margin:5px 0 5px 15px; line-height:17px}
.left_info_topic_address {float:right; width:80px; height:25px; color:#555555; text-align:right; overflow:hidden}
.left_info_topic_content a {text-decoration:none; color:#555555}
.left_info_topic_author {color:#555555; float:left; width:390px; height:20px; margin:2 0 0 10px; overflow:hidden}
left_info_topic_author a {color:#F7701F}
.left_info_topic_other {color:#1C96BD; margin-top:3px; height:20px}
.left_info_topic_span {color:#CC0000; font-size:12px}
#screen_3 .right {float:left; width:340px; padding:5px 0px 0 5px}
#screen_3_banner {}
#left_topic_banner {height:80px}




/* 图片列表(top)*/
.imgList {float:left; width:109px }
.imgList img {margin-bottom:3px}
.imgList_title {text-align:center; height:15px; line-height:15px; clear:both}




.text {text-align:right}
div.content-l {float:left}
div.content-r {float:right}