body {
    font-family: 宋体,Verdana;
    font-size: 12px;
    text-align: center;
}

#djangoForumBody {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#djangoForumList,
#djangoForumThreadList,
#djangoForumThreadPosts {
    border-collapse: collapse;
    width: 100%;
    align:left;
}

#djangoForumList td,
#djangoForumThreadList td,
#djangoForumThreadPosts td {
    border: solid #008CFF 1px;
    padding: 6px;
}

#djangoForumList .djangoForumListDetails {
    width: 70%;
}

#djangoForumList .djangoForumListDetails strong {
    font-size: 120%;
}

#djangoForumList .djangoForumListDetails .djangoForumStats {
    font-size: 80%;
}

.djangoForumListLastPost,
.djangoForumThreadLastPost {
    background-color: #ccc;
    border-bottom: solid #008CFF 1px;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th {
    background-color: #59B5FF;
    border: solid #008CFF 1px;
    color: #000;
    text-align: left;
    padding: 4px;
}

#djangoForumThreadPosts th {
    width: 20%;
}

#djangoForumBreadcrumbs {
    padding: 20px;text-align: left;
}

#djangoForumBody label {
    font-size: 110%;
    font-weight: bold;
    display: block;
    padding: 4px;
}

#djangoForumThreadPostDetail {
    width: 20%;
}