{% extends "base.html" %}

{% block title %}Blog - {{ profile.user|escape }}{% endblock %}

{% block content %}


<h2>{{ profile.user }}简介</h2>
<br/>姓 名：{{profile.nickname}} 
<br/>籍 贯： {{profile.homeplace}} 
<br/>出生地：{{profile.nation}} 
<br/>性 别：{{profile.sex }}
<br/>身 高：{{profile.height}} 
<br/>体 重：{{profile.weight}} 
<br/>英文名：{{profile.foreigname}}
<br/>所在地： 
<br/>血 型： {{profile.bloodgroup}}
<br/>星 座：
<br/>生 肖： 
<br/>学 历： 
<br/>生 日： {{profile.birthday}} 
<br/>职 业：{{profile.profession}}

<br/>自我介绍： {{profile.intro}}    

<br/>家庭：
<br/>籍贯：
<br/>语言: 
<br/>嗜好: {{profile.hobby}}{{profile.character}} 
<br/>唱片公司：
<br/>学校：

<br/>喜欢音乐: 
<br/>喜欢歌手: 
<br/>擅长技能: {{profile.strongsuit}}
<br/>喜欢舞蹈:
<br/>喜欢电影: 
<br/>喜欢食物: 
<br/>喜欢颜色: 
<br/>喜欢饰物: 
<br/>喜欢运动:   {{profile.occupation}}
<br/>喜欢宠物: 
<br/>喜欢杂志: 
<br/>喜欢国家城市: 
<br/>难忘经历:  
<br/>讨厌事物: 
<br/>喜欢事物: 

{% endblock %}