{% extends "forum_base.html" %}{% load i18n %}

{% block title %}{% trans "Forums" %}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="All Latest Posts via RSS" href="{% url forum_index %}rss/" />
<link rel="alternate" type="application/atom+xml" title="All Latest Posts via ATOM" href="{% url forum_index %}atom/" />
{% endblock %}

{% block css.custom %}
{% endblock css.custom %}

{% block js.custom %}
	<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}themes/yaml/js/common.js"></script>
{% endblock js.custom %}

{% block content %}
<div id="main">
<div class="page_margins">
<div class="page">


<div id="foruminfo">
	<div class="subcolumns">
	
		<div class="c40l">
		  <div class="subcl">
		  	<div  id="userinfo">
	
				<span><img src="{{ MEDIA_URL }}themes/yaml/images/forum/nav_icon.gif" alt="" />&nbsp;&nbsp;
					<a href="/forum/"><b>论坛</b></a><br />
				<a href="#" >查看新帖</a> | <a href="#" >热门话题</a> | <a href="#" >发帖排行</a> | <a href="#" >会员</a>
				</span>
			
			</div>
		  </div>
		</div>
	
		<div class="c60r">
		  <div class="subcr txtalr">
		  	<div  id="forumstats">	
				<p>今日:11 | 昨日:482 | 最高日:1953 | <a href="sign">标记已读</a> | <a href="search/?digest=1" target="_blank">精华区</a> | <a href="search/?newatc=1" target="_blank">最新话题</a> <a href="/forum/rss.xml" target="_blank" title="RSS订阅本版面最新话题"><img src="{{MEDIA_URL}}images/icon_feed.gif" /></a></p>
				<p>话题:119 | 帖子:119 | 废帖:13 | 会员总数:20709 | {% trans "newbie" %}:<a href="/accounts/profile/{{master}}" target="_blank">pqrs009</a> | 今注册 名</p>
				<p>目前有 {% trans "boy" %}:<img src="{{MEDIA_URL}}themes/yaml/images/forum/online_boy.gif" alt="{% trans "boy" %}"> <font color="green"></font>名，{% trans "girl" %}:<img src="{{MEDIA_URL}}themes/yaml/images/forum/online_girl.gif" alt="{% trans "girl" %}"> <font color="green"></font>名，不明性别：<img src="{{MEDIA_URL}}themes/yaml/images/forum/online_unkown.gif" alt="不明性别">名</p>
			</div>
		   
		  </div>
		</div>
	</div>
	
</div>


<div id="ad_text"></div>
{% for forum in object_list %}
		<table border="0" cellpadding="0" cellspacing="0" class="full">
		<caption>
		  <div class='note'>版块:<span  class="highlight">{{ forum.title }}</span>(<span  class="dimmed">{{ forum.description }}</span>)</div>
		</caption>
		  <thead>
			<tr><th scope="col" colspan="3">
				<h5><span class="float_right" style="margin-right:20px">版块总版主：
				{% with forum.get_master_list as bigmasters%}
					{% for master in bigmasters %}<a class="notabs" href="/accounts/profile/{{master}}">{{master}}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}{% endwith %} </span>
				&raquo;[<a href="{{ forum.get_absolute_url }}" >{{ forum.title }}</a>]</h5></th></tr>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="col" width="50%">版块</th>
			  <th scope="col" width="15%">话题/帖子</th>
			  <th scope="col" width="35%">最后发表</th>
			</tr>
			{% with forum.get_all_children as rootforums%}
			{% for subforum in rootforums %}
			<tr>
			  <th scope="row" class="sub">
				
				<div class="floatbox"><img src="{{ MEDIA_URL }}themes/yaml/images/forum/forum_new51{%comment%}{{ forum.id }}{{ forloop.counter }}{%endcomment%}.jpg" class="float_left" alt="" />
				<h2><a href="{{ subforum.get_absolute_url }}">{{ subforum.title }}
					
					</a> (<img src="{{ MEDIA_URL }}themes/yaml/images/forum/icon_new.gif" alt="今日发表"/> <strong>{{ subforum.get_posts_on_today }}</strong> 
						  <img src="{{ MEDIA_URL }}themes/yaml/images/forum/icon_user.gif" alt="当前在线"/> <strong>{{ subforum.get_users_on_today }}0</strong> ) </h2>
				<p class="info">{{ subforum.description }}</p>
				<p class="dimmed">版主:	{% with subforum.get_master_list as ms%}{% for master in ms %}<a class="notabs" href="/accounts/profile/{{master}}">{{master}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endwith %} </p>
				<p class="dimmed">访问权限:{% with subforum.get_groups as subforumgroups%}
					{% if subforumgroups %}{%for forumgroup in subforumgroups%}{{forumgroup}}{% endfor %}{% else %}匿名用户{% endif %}
					{% endwith %} 可访问</p>
				</div>
				 

			  </th>
			  <td>{% blocktrans with subforum.threads as thread_count and subforum.posts as post_count %}
				<p class="nums bg_blue">{{ thread_count }}/{{ post_count }}</p>
			  {% endblocktrans %}</td>
			  <td>{% with subforum.forum_latest_post as latest_post %}
			   {% if latest_post %}<a href="{{ latest_post.get_absolute_url }}">{% trans "Re:" %}{{ latest_post.thread|truncatewords:6 }}</a>
				<cite>by <a href="/accounts/profile/{{ latest_post.author }}">{{ latest_post.author }}</a> <br/>-发表于 {{ latest_post.time|timesince }}前</cite>{% else %}{% trans "No Posts" %}{% endif %}
			{% endwith %}</td>
			</tr>
			{% endfor %}{% endwith %}            
		  </tbody>
		</table>
		  <hr />
		  {% if request.user.is_authenticated %}<p><a href="{% url forum_subscriptions %}">{% trans "Update Subscriptions" %}</a></p>{% endif %}
		
{% endfor %}




<div class="forumlinks box">
<table class="full" summary="联盟论坛" id="forumlinks" cellpadding="0" cellspacing="0" style="">
	<tr><td>
		<a href="#" target="_blank">联盟论坛</a> 
		<a href="#" target="_blank">联盟论坛</a>
		<a href="/forum/gongwu/" target="_blank">申请友情链接</a> 
		</td></tr>
</table>
</div>




<div id="online">
	<h3>
	- <em>15</em> 人在线
	- <em>15</em> 会员(<em>0</em> 隐身),
	- <em>0</em> 位游客
	- 最高记录是 <em>27</em> 于 <em>2008-11-18</em>.
	</h3>
</div>
	
 


</div><!--page-->
</div><!--page_margins-->
</div>
{% endblock %}

{% block extended_content %}


{% endblock extended_content%}