{% extends 'base.html' %}
{% load i18n themes news_tags%}

{% block title %}首页{% endblock %}

{% block js.custom %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tab.js"></script>
{% endblock js.custom %}


{% block topnav %}
ffffffffffffffffffffffffffffffffffffffffffffffffffffff
<h1><a href="/" ><img src="{{MEDIA_URL}}images/logo.gif" alt="{{SITE_NAME}}"/></a></h1>

<div class="sitenav">
<ul>{% load navbar %}
    {% for navbar in navbars %}
        {% cycle <li><ul>,<ul> %}
        <li><strong><a href="" target="_blank">{{ navbar.name|escape }}</a></strong></li>
        {% for entry in navbar %}<li{% if entry.selected %} class="selected"{% endif %}><a href="{{ entry.url }}" {% if entry.selected %} class="selected"{% endif %} title="{{ entry.title|escape }}">{{ entry.name|escape }}</a></li>{% endfor %}
        {% cycle </ul>,</ul></li> %}
    {% endfor %}
</ul>
</div>



{% endblock topnav%}


{% block notice %} {% for notice in notice_list %} [公告]<a href="{{notice.get_absolute_url}}">{{ notice.title }}</a>({{notice.pub_date}})  {% endfor %}{% endblock %}

{% block sidebar %}


        
        <div>
            <div class="box-top1"><span></span></div>
            <div class="box1">
                <h2>{% trans "NavTree" %}</h2>
                 {% load navbar %}{% navtree   %}
                <div class="clear"></div>
            </div>
            <div class="box-bot"><span></span></div>
        </div>
        <div class="clear"></div>          
        
        <div>
            <div class="box-top1"><span></span></div>
            <div class="box1">
                <h2>{% trans "SideBar" %}</h2>
                请在模板中更新
               <div id='user_intro'>
                {% if user.is_authenticated %}
                {{user.username}},欢迎您的到来！
                {% else %}
                <p>您必须登录之后才能查看用户信息，请在右边登录。</p>
                {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="box-bot"><span></span></div>
        </div>
        <div class="clear"></div>  
        
        <div>
            <div class="box-top1"><span></span></div>
            <div class="box1">
                <h2>{% trans "User Profile" %}</h2>
                请在模板中更新
               <ul>
            <li><a href='/accounts/register'>注册新用户</a></li>
            <li>看看新闻</li>
            <li>去论坛</li>
            <li></li>
            <li><a href='/accounts/logout'>注销</a></li>
           </ul>
                <div class="clear"></div>
            </div>
            <div class="box-bot"><span></span></div>
        </div>
        <div class="clear"></div>  

{% endblock sidebar %}
        
 

{% block content %}

	<h2>Let's Learn Python!</h2>
	<p class='para'><img src="{{ MEDIA_URL }}images/WPLJWO.jpg" /></p>
	<p></p>
	
	<h1>DDTCMS</h1>
	<h2>Summary:</h2>
	<p class='para'>DDTCMS(Django Dream Team's Content Management System),is a CMS based on django 1.0,supported by Django Dream Team,created by huyoo353 on 2008-NOV-10. </p>
	<p>http://code.google.com/p/ddtcms/</p>
	<p>admin u/p: admin/admin </p>
	<h2>Requirements:</h2>
	<dl>
		<dt>django 1.2</dt><dd>Django version 1.2 or greater.</dd>
		<dt>PIL</dt><dd>The Python Imaging Library,Source: http://www.pythonware.com/products/pil/</dd>
		<dt>markdown</dt>
		<dd>Markdown is a text-to-HTML conversion tool for web writers.
		    http://daringfireball.net/projects/markdown/</dd>
		<dt>django-navbar</dt><dd>Site navigation controlled from the django admin with: 
		Navigation bar 
		Navigation tree 
		Chained Navigation bars 
		JSON sub tree requests (comming soon) 
		Permission control on which entries are seen 
		http://code.google.com/p/django-wikiapp/</dd>
		<dt>django-wikiapp</dt><dd>Django WikiApp is a pluggable application for Django that aims to provide a complete Wiki (for really small values of "complete") 
		http://code.google.com/p/django-wikiapp/
		</dd>
		<dt>django-photologue</dt><dd></dd>
		<dt>django-forum</dt><dd></dd>
		<dt>django-tagging</dt><dd></dd>
		<dt>django-pressroom</dt><dd></dd>
		<dt>gettext</dt><dd>Optional(needed when you use i18n tags in code or templates)</dd>
		<dt>Google Data API</dt><dd>Optional(allows image searching)
		      Download it from http://code.google.com/p/gdata-python-client/</dd>
		<dt>django-profile</dt>
		<dd>
			<ul>
			<li>http://code.google.com/p/django-profile/</li> 
			<li>This is a Django pluggable user profile zone which can be used and customized easily in your social application web platform developed in django. </li>
			</ul>
		</dd>
	</dl>
	<p></p>
	<h2>App Directory Structure:</h2>
	<dl>
		<dt>appname/</dt>
		<dd>
			<ul>
				<li>--templates/</li>
				<li>----appname/</li>
				<li>--templatetags/</li>
			</ul>
		</dd>
	</dl>
 

{% endblock content %}
         
       

{% block extended_content %}

<div id="links1" class="mainwrapper"><!--begin:extended-->
    <div class="box-top"><h1>扩展内容 </h1></div>
        <div id="links" class="box link_content">
            <ul>{% for link in links %}
		        <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>{% endfor %}
	        </ul>	        
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div>        	   
</div><!--end:extended-->

<div id="2cols" class="mainwrapper"><!--begin:extended-->
    <div class='semi-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q1" class="box">
            <p>扩展内容为左浮动样式</p>	        
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div></div>
    
    <div class='semi-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q2" class="box">
            <p>扩展内容为左浮动样式</p>     
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div> </div> 
    
    <div class='semi-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q3" class="box">
            <p>扩展内容为左浮动样式</p>     
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div> </div> 
    		
    <div class='semi-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q4" class="box">
            <p>扩展内容为左浮动样式</p>     
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div> </div> 	
    	
    		   
</div><!--end:extended-->

<div id="3cols" class="mainwrapper"><!--begin:extended-->
    <div class='third-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q1" class="box">
            <p>扩展内容为左浮动样式</p>	        
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div></div>
    
    <div class='third-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q2" class="box">
            <p>扩展内容为左浮动样式</p>     
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div> </div> 
    
    <div class='third-mw'><div class="box-top"><h1>扩展内容 </h1></div>
        <div id="q3" class="box">
            <p>扩展内容为左浮动样式</p>     
	        <div class="clear"></div>
        </div>                
    <div class="box-bot"><span></span></div> </div> 
    		   
</div><!--end:extended-->
{% endblock extended_content%}

{% block extended_page %}

<div id="extended" class="pagewrapper"><!--begin:extended_page-->
    <div class="box-top"><h1><span><a href="{% url link_index %}" title="网址链接">更多...</a></span>  友情链接 </h1></div>
    <div class="box link_content">
        <ul>{% for link in links %}
	        <li><a href="{{ link.url }}" title='{{link.notes}}'>{{ link.title }}</a></li>{% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    <div class="box-bot"><span></span></div>
</div><!--end:extended_page-->


<div id="extended1" class="pagewrapper"><!--begin:extended_page1-->
    <div class="box-top"><h1> 下一屏内容 </h1></div>
    <div class="box">
        其他信息,比如弄个小广告什么的.
        <div class="clear"></div>
    </div>
    <div class="box-bot"><span></span></div>
</div><!--end:extended_page1-->

<div id="extended2" class="pagewrapper"><!--begin:extended_page2-->
    <div class="box-top"><h1> 下一屏内容 </h1></div>
    <div class="box">
        其他信息,比如弄个小广告什么的.
        <div class="clear"></div>
    </div>
    <div class="box-bot"><span></span></div>
</div><!--end:extended_page2-->
{% endblock extended_page %}

