{% extends "base.html" %}
{% load markup comments tagging_tags attachment_inclusion_tag%}

{% block title %}{{ object.title|escape }} - 新闻{% endblock %}

{% block css.custom %}
{% endblock css.custom %}

{% block breadcrumbs %} <a href="/">首页</a>&raquo; <a href="{% url news-index %}">新闻中心</a>{% for title, url in object.category.get_url_name %} &raquo; <a href='{{ url }}'>{{ title }}</a>{% endfor %} &raquo; <a href='{{ object.get_absolute_url }}'>{{ object.title|escape }}</a> {% endblock %}

{% block maintitle %}查看新闻{% endblock %}
{% block content %}

	  <div id="news">
		<div id="news_content">
			<div id="news_detail">
				<div class="tit">
				<h2>{{ object.title|escape }}</h2>
				</div>

				<div class="line">
					<p>
						<span class="post-date">{{ object.pub_date|date:"Y年m月d日H:i" }} </span>
						{{ object.source }}
						第<span>{{ object.views}}</span>次查阅
						<a href="#post-comment">共有评论125条</a>
						[字号：大 中 小]
						打印
					</p>
				</div>

				<div class="cnt">
					<p>{% autoescape off %}{{ object.content|escape|linebreaks }}{% endautoescape %}</p>
					<p class="center">{% news_attachments object %}</p>
				</div>

				<div class="opt">
					<p>

						<strong>分类：</strong><span><a href="{{object.category.get_absolute_url}}" title="查看该分类中所有文章">{{object.category}}</a></span>
						<strong>标签(Tags):</strong>
						<span>{% tags_for_object object as tag_list %}
						{% for tag in tag_list %}<a href="tags/{{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
						</span>
					</p>
					<p>
						信息作者：{{ object.deliverer }}，编辑：{{ object.editor }}。
						| 本站提交：{{ object.deliverer }}，审核：{{ object.editor }}。
					</p>
				</div>
			</div>
		</div>
		<div id="ie_clearing">&nbsp;</div>
	  </div>
{% endblock %}


{% block extended_content %}
<div id="extended" class="mainwrapper"><!--begin:extended-->
	<div class="box-top"><h1> 相关文章 </h1></div>
		<div id="links" class="box">
			<div class="opt">
				往前的：{% if object.get_previous %}<a href="{{ object.get_previous.get_absolute_url }}"  title="">{{ object.get_previous }}</a>{%else%}没有了{% endif %} &nbsp;&nbsp;&nbsp;&nbsp;
				往后的：{% if object.get_next %}<a href="{{ object.get_next.get_absolute_url }}"  title="">{{ object.get_next }}</a>{%else%}没有了{% endif %}
			</div>

			<div class="clear"></div>
		</div>

	<div class="box-bot"><span></span></div>
</div><!--end:extended-->

<div id="extended1" class="mainwrapper"><!--begin:extended-->
	<div class="box-top"><h1> 用户评论 </h1></div>
		<div id="news_comments" class="box link_content">
		   {% get_comment_count for object as comment_count %}
			<h2>评论列表<span id="commentAllCountin">({{ comment_count }}条)</span>:</h2>
			{% get_comment_list for object as comment_list %}
			<dl class="comments_list">
				{% for comment in comment_list %}
				<dt class="dimmed">会员{{comment.user_name}} 在{{ comment.submit_date|date:"Y-m-d P" }}发表了评论:</dt>
				<dd class="green">{{comment.comment}}</dd>
				{% endfor %}
			</dl>

			<div id='commentform'><a name="post-comment"></a>
				<h2>发表你的评论：</h2>
				{% spaceless %}{% render_comment_form for object %}{% endspaceless %}
			</div>

			<div class="clear"></div>
		</div>
	<div class="box-bot"><span></span></div>
</div><!--end:extended-->

{% endblock extended_content%}