{% extends 'photo_base.html' %}
{% block title %}The current time{% endblock %}
{% block sidebar %}
<div>
<div class="box-top1"><span></span></div>
<div class="box1">
<h2>菜单</h2>
<ul>
<LI><a href="/photo/"> 返回</a></LI>
<LI><a href="/photo/upload/"> 上传图片 </a></LI>
</ul>
<div class="clear"></div>
</div>
<div class="box-bot"><span></span></div>
</div>
<div class="clear"></div>
{% endblock %}

{% block content %}

    <ul>
    {% for object in object_list %}
        <li><a href="{{object.get_absolute_url}}">{{ object.topic }}</a>{{object.pub_date|timesince}}前</li>
    {% endfor %}
    </ul>

{% endblock %}