{% extends 'base.html' %}{% load i18n %}
{% block title %}首页{% endblock %}

{% block content %}
<!-- begin: #col1 - first float column -->
			<div id="col1">
				<div id="col1_content" class="clearfix">
					<h2>登陆信息</h2>
					<p>nonummy in, consequat ut, neque. </p>
					<h3>用户登录... </h3>					
					<form name='login_frm' action='{% url login %}' method='post'>
					<p>用户：<input type='text' name='username' value="" size='12' maxlegth='20'></p>
					<p>密码：<input type='password' name='password' value="" size='12' maxlegth='20'></p>
					<p><a href="{% url signup %}">新注册</a> <a href="{% url password_reset %}" style="cursor:help;">忘记密码</a> <input type=image src="images/index/user_login_button.gif" border=0 align=absmiddle onclick="jacascript:return login_true();"></p>
					<a href="{% url email_validation_reset %}" alt="重新发送一次我的注册验证邮件！">发送注册邮件</a> <input type=checkbox id=id_memery_info name=memery_info value="yes" class=bg_td><label for=id_memery_info id=label_memery_info alt="如选择“记住密码”登陆，以后将自动登陆本站！">记住密码</label>
					</form>
				</div>
			</div>
			<!-- end: #col1 -->
			<!-- begin: #col3 static column -->
			<div id="col3">
				<div id="col3_content" class="clearfix"> 
					<h2>DDTCMS</h2>
					<h3>Summary:</h3>
					<p class='para'>DDTCMS(Django Dream Team's Content Management System),is a CMS based on django 1.0,supported by Django Dream Team,created by huyoo353 on 2008-NOV-10. </p>
					<p>http://code.google.com/p/ddtcms/</p>
					<p>admin u/p: admin/admin </p>
					<h3>Requirements:</h3>
					<dl>
					<dt>django 1.0</dt><dd>Django version 1.0 or greater.</dd>
					<dt>PIL</dt><dd>The Python Imaging Library,Source: http://www.pythonware.com/products/pil/</dd>
					<dt>markdown</dt>
					<dd>Markdown is a text-to-HTML conversion tool for web writers.
					    http://daringfireball.net/projects/markdown/</dd>
					<dt>django-navbar</dt><dd>Site navigation controlled from the django admin with: 
					
					Navigation bar 
					Navigation tree 
					Chained Navigation bars 
					JSON sub tree requests (comming soon) 
					Permission control on which entries are seen 
					http://code.google.com/p/django-wikiapp/</dd>
					<dt>django-wikiapp</dt><dd>Django WikiApp is a pluggable application for Django that aims to provide a complete Wiki (for really small values of "complete") 
					http://code.google.com/p/django-wikiapp/
					</dd>
					<dt>django-photologue</dt><dd></dd>
					<dt>django-forum</dt><dd></dd>
					<dt>django-tagging</dt><dd></dd>
					<dt>django-pressroom</dt><dd></dd>
					<dt>gettext</dt><dd>Optional(needed when you use i18n tags in code or templates)</dd>
					<dt>Google Data API</dt><dd>Optional(allows image searching)
					      Download it from http://code.google.com/p/gdata-python-client/</dd>
					<dt>django-profile</dt>
					<dd>
					<ul>
					<li>http://code.google.com/p/django-profile/</li> 
					<li>This is a Django pluggable user profile zone which can be used and customized easily in your social application web platform developed in django. </dd></li>
					</ul>
					</dl>
					<p></p>
					<h3>App Directory Structure:</h3>
					<dl><dt>appname/</dt>
					<dd>
					<ul>
					<li>--templates/</li>
					<li>----appname/</li>
					<li>--templatetags/</li>
					</ul>
					</dd></dl>
					
				</div>
				<div id="ie_clearing">&nbsp;</div>
				<!-- End: IE Column Clearing -->
			</div>
			<!-- end: #col3 -->
<div class="second"><!--TYPO3SEARCH_begin--><a id="c332"></a>
		<div class="subcolumns">
			<div class="c33l">
				<div class="subcl"><a id="c1415"></a><a id="c1414"></a><h3>News</h3><h6><a href="en/home/news/details/article/46/yaml-305-v.html" target="_self" class="external-link-new-window">YAML 3.0.5 released</a></h6>
<p>After 6 months of rest, a new version is ready for download. The &quot;Simple Project Example&quot; and the YAML Builder have also been updated.
</p>
<h6><a href="en/home/news/details/article/46/zwei-gute-na.html" target="_self" class="external-link-new-window">Two good news: YAML Shop and YAML Builder</a></h6>
<p>With the beginning of february two good news can be announced. The YAML Shop opens its doors and there is a new version of the YAML Builder.</p></div>
			</div>
			<div class="c33l">
				<div class="subc"><a id="c378"></a><a id="c333"></a><h3>Support and Information</h3><a id="c381"></a><a id="c337"></a><ul class="linklist">
	<li class="floatbox">
		<img src="fileadmin/img/small/forum.png" class="float_left framed" border="0" alt="" /><a href="http://forum.yaml.de" target="_blank">YAML Community Forums</a><br />update information, user questions, website presentations, development
	</li>
	<li class="floatbox">
		<img src="fileadmin/img/small/hrblog.png" class="float_left framed" border="0" alt="" /><a href="http://www.highresolution.info/weblog/" target="_blank">High Resolution Weblog</a><br />The YAML author’s weblog of digital photography, art work, and web design
	</li>
</ul></div>
			</div>
			<div class="c33r">
				<div class="subcr"><a id="c380"></a><a id="c335"></a><h3>Project Development</h3><p>The YAML framework is an open source project by <a href="http://www.highresolution.info" target="_blank" class="external-link-new-window">Dirk Jesse</a> and has been continuously enhanced since its first release in October 2005.
</p>
<p>The YAML project is supported by <a href="http://itratos.de/" target="_blank" class="external-link-new-window">Itratos</a> (Shop management) and <a href="http://www.webhosting-franken.de/" target="_blank" class="external-link-new-window">Webhosting Franken</a> (Hosting).</p><a id="c382"></a><a id="c336"></a><p><a rel="license" class="imagelink" href="http://creativecommons.org/licenses/by/2.0/de/"><img src="fileadmin/img/somerights20.png" alt="Creative Commons License" class="float_right" border="0" height="31" width="88" /></a> This project is released under <a rel="license" href="http://creativecommons.org/licenses/by/2.0/de/">Creative Commons Attribution 2.0 Germany License</a>.</p></div>
			</div>
		</div>
	<!--TYPO3SEARCH_end--></div>
{% endblock %}