{% extends "member/index.html" %}
{% load i18n %}
{% block title %}{% trans "Front page" %}{% endblock %}

{% block content %}
<h2>{% trans "People who have already tried this demo" %}</h2>
<div class="span-8 last">
				<ul class="hmenu large three">
					<li><a href="/">{% trans "Frontpage" %}</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url profile_overview %}">{% trans "Profile" %}</a></li>
   				<li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
					{% else %} 
					<li><a href="{% url profile_overview %}">{% trans "Login" %}</a></li>
					<li><a href="{% url signup %}">{% trans "Register" %}</a></li>
  				{% endif %}
				</ul>
			</div>
{% for profile in profiles %}
	{% include "userprofile/profile/usercard.html" %}
{% endfor %}

{% endblock %}

