{% extends "member/base_2col.html" %}
{% load i18n %}

{% block title %}按你想要的剪切图像和改变大小{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block js.custom %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.imgareaselect-0.4.2.min.js"></script>
<script type="text/javascript">
	$(function() {
		function updateValues(img, selection) {
			$("input[name='left']").val(selection.x1);
			$("input[name='top']").val(selection.y1);
			$("input[name='right']").val(selection.x2);
			$("input[name='bottom']").val(selection.y2);
		}
		$(window).load(function() {
			$("#cropimage").imgAreaSelect({ aspectRatio: "1:1", onSelectEnd: updateValues });
		});
	});
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "member/menu.html" %}
{% endblock %}

{% block userprofile_content %}
	<form action="{{ request.path_info }}" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>裁剪和改变选区的到你想要的大小</legend>

		{% if form.errors %}
			{% for error,desc in form.errors.items %}
				<p class="error">{{desc|join:"; "}}</p>
			{% endfor %}
		{% endif %}

		<div style="text-align: center;">
			<img src="{{ avatar.image.url }}" id="cropimage" />
		</div>
		<input type="hidden" name="top" value="0"/>
		<input type="hidden" name="bottom" value="0"/>
		<input type="hidden" name="left" value="0"/>
		<input type="hidden" name="right" value="0"/>
	</fieldset>
	<input type="submit" class="done" value="完成" />
	</form>
{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>头像选择页面</h3>
    <p>您有几种选择去选取图像作为您的档案中的个性头像.</p>
  </div>

  {% load avatars %}
  <div class="center">
    <img class="border" id="avatarimg" src="{% avatar 96 %}" />
  </div>

{% endblock %}
