{% extends 'base.html' %}
{% block title %}The current time{% endblock %}
{% block sidebar %}
<a href="/polls/"> 返回 </a>{{SITE_NAME}}
{% endblock %}

{% block content %}


 



	<div class="subcolumns">
		
	    <div class="c25l">
	      <div class="subcl">	      	
	      	<div id="left_navigation">
	      		<h2>操作菜单</h2>
	      		<ul>
	      			<li><a href="{%url link_create%}">添加新链接</a></li>
	      			<li><a href="{%url link_create%}">批量添加新链接</a></li>
	      			<li><a href="{%url link_create%}">导入GreenBrowser群组文件</a></li>
	      			<li><a href="{%url link_create%}">导入Maxthon群组文件</a></li>
	      			<li><a href="{%url link_create%}">导入IE书签</a></li>
	      		</ul>
	      		<h2>链接分类</h2>
	      		<ul>
	      			<li>分类1</li>
	      			<li>分类1</li>
	      			<li>分类1</li>
	      		</ul>
			</div>
	      </div>
	    </div>
	
	    <div class="c75r">
	      <div class="subcr">		
	      		
			<div class="subcolumns">
				<div class="c62l">
					<div class="subcl">
						<div id="userprofile_content">
							{% block userprofile_content %}
							<h2>网址导航</h2>

							    <p>{% for object in object_list %}
                                 <a href="{{object.url}}" target='_blank'>{{ object.title }}</a>{% endfor %}
                                </p>

							{% endblock %}		
						</div>
					</div>
				</div>
				
				<div class="c38r">
					<div class="subcr">
						<div id="userprofile_content_related">
							{% block userprofile_content_related %}
							<h2>访问最多</h2>
							<ul>
								<li>1</li>
								<li>2</li>
							</ul>
							<h2>最近访问</h2>
							<ul>
								<li>1</li>
								<li>2</li>
							</ul>
							{% endblock %}
						</div>
					</div>
				</div>
			</div>	
			
	      </div>
	    </div>
	    
  	</div>	
{% endblock %}