{% extends 'base.html' %}{% load i18n %}
{% block title %}博客{% endblock %}

{% block sidebar %}
<div>
<div class="box-top1"><span></span></div>
<div class="box1">
<h2>菜单</h2>
<ul>            
<LI><a href="/photo/"> 返回</a></LI>
<LI><a href="/photo/upload/"> 上传图片 </a></LI>
</ul>
<div class="clear"></div>
</div>
<div class="box-bot"><span></span></div>
</div>
<div class="clear"></div>  
{% endblock %}



{% block maintitle %}上传图片{% endblock %}
{% block content %}


{% endblock %}