@media all {

#nav .page_margins{padding:0px;}
#nav .page{padding:0px;background:#fff url(../images/bg_nav.gif) no-repeat top left;}
#nav{border:none;  line-height:0}/**/
/* #nav ul { margin-left: 0; } */
#nav_main1{/*float:left;*/ width:auto;margin:0px;margin-left:43px;background:#007bee url(../images/bg_nav_main1.gif) repeat top left;border:1px solid blue;border:none;line-height:1em;height:3em;}
#nav_main1 ul{/* float:left; */display:inline;border-left:1px #000 solid;margin:0 0 0 20px;padding:0}
#nav_main1 ul li{float:left;display:inline;overflow:hidden;font-size:1em;line-height:1em;list-style-type:none;border-right:1px #000 solid;margin:0;padding:0}
#nav_main1 ul li a{/* */ display:block;width:auto;font-size:1em;font-weight:400;background:transparent;text-decoration:none;color:#fff;margin:0;padding:1em 1em}
#nav_main1 ul li a:focus,
#nav_main1 ul li a:hover,
#nav_main1 ul li a:active{
color:#013d00;text-decoration:none;
background:transparent url(../images/bg_hnav1_hover.png) repeat-x top center
}
#nav_main1 ul li#current{background:#272727 url(../images/bg_hnav1_current.gif) repeat-x top center}
#nav_main1 ul li#current a,#nav_main1 ul li#current a:focus,#nav_main1 ul li#current a:hover,#nav_main1 ul li#current a:active{color:#fff;font-weight:700;background:transparent;text-decoration:none}
}


