{% extends 'base.html' %}{% load i18n %}
{% block title %}首页{% endblock %}

{% block content %}
<!-- begin: #col1 - first float column -->
			<div id="col1">
				<div id="col1_content" class="clearfix">
					<h2>登陆信息</h2>
					<p>nonummy in, consequat ut, neque. </p>
					<h3>用户登录... </h3>					
					<ul><li><a href='gallery'>{% trans 'gallery' %}</a></li>
</ul>
				</div>
			</div>
			<!-- end: #col1 -->
			<!-- begin: #col3 static column -->
			<div id="col3">
				<div id="col3_content" class="clearfix"> 
					<h2>DDTCMS</h2>
					<h3>Summary:</h3>
					
					
				</div>
				<div id="ie_clearing">&nbsp;</div>
				<!-- End: IE Column Clearing -->
			</div>
			<!-- end: #col3 -->
<div class="second"><!--TYPO3SEARCH_begin--><a id="c332"></a>
		<div class="subcolumns">
			<div class="c33l">
				<div class="subcl"><a id="c1415"></a><a id="c1414"></a><h3>News</h3><h6><a href="en/home/news/details/article/46/yaml-305-v.html" target="_self" class="external-link-new-window">YAML 3.0.5 released</a></h6>
<p>After 6 months of rest, a new version is ready for download. The &quot;Simple Project Example&quot; and the YAML Builder have also been updated.
</p>
<h6><a href="en/home/news/details/article/46/zwei-gute-na.html" target="_self" class="external-link-new-window">Two good news: YAML Shop and YAML Builder</a></h6>
<p>With the beginning of february two good news can be announced. The YAML Shop opens its doors and there is a new version of the YAML Builder.</p></div>
			</div>
			<div class="c33l">
				<div class="subc"><a id="c378"></a><a id="c333"></a><h3>Support and Information</h3><a id="c381"></a><a id="c337"></a><ul class="linklist">
	<li class="floatbox">
		<img src="fileadmin/img/small/forum.png" class="float_left framed" border="0" alt="" /><a href="http://forum.yaml.de" target="_blank">YAML Community Forums</a><br />update information, user questions, website presentations, development
	</li>
	<li class="floatbox">
		<img src="fileadmin/img/small/hrblog.png" class="float_left framed" border="0" alt="" /><a href="http://www.highresolution.info/weblog/" target="_blank">High Resolution Weblog</a><br />The YAML author’s weblog of digital photography, art work, and web design
	</li>
</ul></div>
			</div>
			<div class="c33r">
				<div class="subcr"><a id="c380"></a><a id="c335"></a><h3>Project Development</h3><p>The YAML framework is an open source project by <a href="http://www.highresolution.info" target="_blank" class="external-link-new-window">Dirk Jesse</a> and has been continuously enhanced since its first release in October 2005.
</p>
<p>The YAML project is supported by <a href="http://itratos.de/" target="_blank" class="external-link-new-window">Itratos</a> (Shop management) and <a href="http://www.webhosting-franken.de/" target="_blank" class="external-link-new-window">Webhosting Franken</a> (Hosting).</p><a id="c382"></a><a id="c336"></a><p><a rel="license" class="imagelink" href="http://creativecommons.org/licenses/by/2.0/de/"><img src="fileadmin/img/somerights20.png" alt="Creative Commons License" class="float_right" border="0" height="31" width="88" /></a> This project is released under <a rel="license" href="http://creativecommons.org/licenses/by/2.0/de/">Creative Commons Attribution 2.0 Germany License</a>.</p></div>
			</div>
		</div>
	<!--TYPO3SEARCH_end--></div>
{% endblock %}