{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock title %}
{% block css.custom %}<style>#col1,#col2{display:none}#col3{width:100%;margin: 0; }</style>{% endblock css.custom %}
{% block content %}
			<div id="col1">
				<div id="col1_content" class="clearfix">
				</div>
			</div>
			<!-- end: #col1 -->
			<!-- begin: #col2 second float column -->
			<div id="col2">
				<div id="col2_content" class="clearfix">
				</div>
			</div>
			<!-- end: #col2 -->
			<!-- begin: #col3 static column -->
			<div id="col3">
			<div id="col3_content" class="clearfix"> <a id="content" name="content"></a>
				<!-- skiplink anchor: Content -->
				<h2>{{ flatpage.title }}</h2>
				<p>{{ flatpage.content }}</p>
			</div>
			<div id="ie_clearing">&nbsp;</div>
			<!-- End: IE Column Clearing -->
			</div>
<!-- end: #col3 -->
{% endblock %}
