{% extends "forum_base.html" %}
{% load i18n %}{% load markup %}
{% block title %}{{ thread.title|escape }} ({{ forum.title }}){% endblock %}

{% block pagetitle %}{{ forum.title }} &raquo; {{ thread.title|escape }}{% endblock %}


{% block breadcrumbs %}{% for title, url in thread.forum.get_url_name %} &raquo; <a href='{{ url }}'>{{ title }}</a>{% endfor %} &raquo; <a href='{{ thread.get_absolute_url }}'>{{ thread.title|escape }}</a> ({{ thread.posts }} post{{ thread.posts|pluralize }}){% endblock %}

{% block content %}
<div class="pages_btns">
<span class="replybtn"><a href="post.php?action=reply&amp;fid=11&amp;tid=1890&amp;extra=page%3D1"><img src="images/iq_browser/reply.gif" border="0" alt="" /></a></span><span class="postbtn" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu(this.id)"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1"><img src="images/iq_browser/newtopic.gif" border="0" alt="发新话题" title="发新话题" /></a></span>
<div class="threadflow"><a href="redirect.php?fid=11&amp;tid=1890&amp;goto=nextoldset">上一主题</a><a href="redirect.php?fid=11&amp;tid=1890&amp;goto=nextnewset">下一主题</a></div></div>
	<ul class="popupmenu_popup newspecialmenu" id="newspecial_menu" style="display: none">
		<li><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1">发新话题</a></li>
		<li class="poll"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1&amp;special=1">发布投票</a></li>		<li class="trade"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1&amp;special=2">发布商品</a></li>		<li class="reward"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1&amp;special=3">发布悬赏</a></li>		<li class="activity"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1&amp;special=4">发布活动</a></li>		<li class="debate"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1&amp;special=5">发布辩论</a></li>		<li class="video"><a href="post.php?action=newthread&amp;fid=11&amp;extra=page%3D1&amp;special=6">发布视频</a></li>			</ul>

<form method="post" name="modactions">
<input type="hidden" name="formhash" value="0d4adb89" />



{% for post in post_list %}
<div class="mainbox viewthread">
<span class="headactions">
<a href="print/" target="_blank" class="notabs">打印</a>
</span>
<h1>{{ thread.title }}</h1>
<table id="pid{{ post.id }}" summary="pid{{ post.id }}" cellspacing="0" cellpadding="0">
<tr>
<td class="postauthor">
<cite>
<a href="/accounts/profile/{{ post.author }}" target="_blank" id="userinfo{{ post.author.id }}">{{ post.author }}</a></cite>
<div id="avatar"><div class="avatar"><img class="avatar" src="{{ MEDIA_URL }}userprofile/avatars/noavatar.gif" alt="" /></div></div>
<p class="post_level"><em>新会员</em></p>
<p class="post_level_img"><img src="{{ MEDIA_URL }}themes/forum/images/star_level1.gif" alt="Rank: 1" /></p>
<dl class="profile"><dt>UID</dt><dd>{{ post.author.id }}&nbsp;</dd><dt>帖子</dt><dd>1&nbsp;</dd><dt>积分</dt><dd>3&nbsp;</dd><dt>注册时间</dt><dd>{{post.author.date_joined}}&nbsp;</dd><dt>最后登录</dt><dd>{{post.author.last_login}}&nbsp;</dd></dl><ul>
<li class="pm"><a href="pm.php?action=send&amp;uid=75692" target="_blank" id="ajax_uid_3197" onclick="ajaxmenu(event, this.id, 9000000, null, 0)">发短消息</a></li>
<li class="buddy"><a href="/accounts/profile/{{ post.author }}/buddy/new/{{ post.author }}/" target="_blank" id="ajax_buddy_0" onclick="ajaxmenu(event, this.id, null, 0)">加为好友</a></li>
</ul>
</td>
<td class="postcontent" >
<div class="postinfo">
<strong title="复制帖子链接到剪贴板" id="postnum_{{ post.id }}" onclick="setcopy('http://bbs.myiq.cn/viewthread.php?tid=936&page=1#pid3197', '帖子链接已经复制到剪贴板')">#{{forloop.counter}}</strong>
发表于{{ post.time }}  <a href="/forum/thread/{{ post.id }}/page/1/user/{{ post.author }}/">只看该作者</a>
</div>
<div id="ad_thread2_0"></div>
<div class="postmessage defaultpost">
<div id="ad_thread3_0"></div>
<div id="ad_thread4_0"></div>

<div id="postmessage_{{ post.id }}" class="t_msgfont">
{{ post.body|escape|linebreaks }}    
</div>

</div>
</div>
</td>
</tr>
<tr>
<td class="postcontent" colspan="2">
<div class="postactions">
<p>
<strong onclick="scroll(0,0)" title="顶部"><img src="{{ MEDIA_URL }}themes/forum/images/view_icon04.gif" align="absmiddle"/></strong>
</p>
<div id="ad_thread1_0"></div>
</div>
</td>
</tr>
</table>
</div>


{% endfor %}

</td>
</tr>
</table>
</div>
</form>

{% if is_paginated %}
<ul>
  <li class="djangoForumPagination"><a href="?page=1">{% trans "First" %}</a></li>
{% for page_number in paginator.page_range %}
  <li class="djangoForumPagination"><a href="?page={{ page_number }}">{{ page_number }}</a></li>  
{% endfor %}
  <li class="djangoForumPagination"><a href="?page={{ paginator.num_pages }}">{% trans "Last" %}</a></li>  
</ul>
{% endif %}

<h2>{% if request.user.is_authenticated %}<p><a href="{% url forum_subscriptions %}">{% trans "Update Subscriptions" %}</a></p>{% endif %}</h2>
<h2>发布一个回帖</h2>
{% if thread.closed %}
<p>Sorry, this thread is closed. No further replies are permitted.</p>
{% else %}
{% if user.is_authenticated %}
<form method='post' action='reply/'>
<p><label>楼主:</label><span>{{ user.username }}</span></p>
<p><label for='id_body'>内容:</label>
<textarea name='body' rows='8' cols='50' id='id_body'></textarea></p>
<p><label for='id_subscribe'>通过邮件订阅:</label><input type='checkbox' id='id_subscribe' name='subscribe' {% if subscription %}checked{% endif %}/></p>
<input type='submit' value='发表' />
</form>
{% else %}
<p>发布回帖请<a href='/accounts/login'>登录</a>.</p>
{% endif %}
{% endif %}



<div class="pages_btns">
<span class="replybtn"><a href="post.php?action=reply&amp;fid=9&amp;tid=936&amp;extra=page%3D1"><img src="{{ MEDIA_URL }}themes/forum/images/reply.gif" border="0" alt="" /></a></span><span class="postbtn" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu(this.id)"><a href="post.php?action=newthread&amp;fid=9&amp;extra=page%3D1"><img src="{{ MEDIA_URL }}themes/forum/images/newtopic.gif" border="0" alt="发新话题" title="发新话题" /></a></span>
<div class="threadflow"><a href="redirect.php?fid=9&amp;tid=936&amp;goto=nextoldset">上一主题</a><a href="redirect.php?fid=9&amp;tid=936&amp;goto=nextnewset">下一主题</a></div></div>

	<script type="text/javascript">
		function modaction(action) {
			if(!action) {
				return;
			}
			if(!in_array(action, ['delpost', 'banpost'])) {
				window.location=('topicadmin.php?tid=936&fid=9&action='+ action +'&sid=eDmmlx');
			} else {
				document.modactions.action = 'topicadmin.php?action='+ action +'&fid=9&tid=936&page=1;'
				document.modactions.submit();
			}
		}
	</script>
	<div id="footfilter" class="box">
					<select onchange="if(this.options[this.selectedIndex].value != '') {
		window.location=('forumdisplay.php?fid='+this.options[this.selectedIndex].value+'&sid=eDmmlx') }">
		<option value="">最近访问的版块 ...</option>
		<option value="6">使用交流</option><option value="2">iQ浏览器公告</option>		</select>
	</div>
	<div class="popupmenu_popup" id="forumlist_menu" style="display: none">
		<dl><dt><a href="index.php?gid=1">新闻及公告</a></dt><dd><ul><li><a href="forumdisplay.php?fid=2">iQ浏览器公告</a></li></ul></dd></dl><dl><dt><a href="index.php?gid=3">iQ浏览器交流</a></dt><dd><ul><li><a href="forumdisplay.php?fid=6">使用交流</a></li><li><a href="forumdisplay.php?fid=4">新点子征集</a></li><li><a href="forumdisplay.php?fid=5">BUG报告</a></li></ul></dd></dl><dl><dt><a href="index.php?gid=10">iQ红茶馆</a></dt><dd><ul><li><a href="forumdisplay.php?fid=11">iQ游泳池</a></li></ul></dd></dl><dl><dt><a href="index.php?gid=8">站务论坛</a></dt><dd><ul><li class="current"><a href="forumdisplay.php?fid=9">站务事宜</a></li></ul></dd></dl>	</div>

<script type="text/javascript">
var maxpage = 1;
if(maxpage > 1) {
	document.onkeyup = function(e){
		e = e ? e : window.event;
		var tagname = is_ie ? e.srcElement.tagName : e.target.tagName;
		if(tagname == 'INPUT' || tagname == 'TEXTAREA') return;
		actualCode = e.keyCode ? e.keyCode : e.charCode;
					}
}
</script>
</div>
	<ul class="popupmenu_popup headermenu_popup" id="memcp_menu" style="display: none">
		<li><a href="memcp.php">控制面板首页</a></li>
		<li><a href="memcp.php?action=profile">编辑个人资料</a></li>
				<li><a href="memcp.php?action=creditslog">积分记录</a></li>
		<li><a href="memcp.php?action=usergroups">公众用户组</a></li>
			</ul>
	<ul class="popupmenu_popup headermenu_popup" id="stats_menu" style="display: none">
		<li><a href="stats.php">基本概况</a></li>
				<li><a href="stats.php?type=forumsrank">版块排行</a></li><li><a href="stats.php?type=threadsrank">主题排行</a></li><li><a href="stats.php?type=postsrank">发帖排行</a></li><li><a href="stats.php?type=creditsrank">积分排行</a></li>
		<li><a href="stats.php?type=trade">交易排行</a></li>
		<li><a href="stats.php?type=onlinetime">在线时间</a></li>		<li><a href="stats.php?type=team">管理团队</a></li>
		<li><a href="stats.php?type=modworks">管理统计</a></li>	</ul>
<div id="ad_footerbanner1"></div><div id="ad_footerbanner2"></div><div id="ad_footerbanner3"></div>
<div id="footer">
<div class="wrap">
<div id="footlinks">
<p></p>
<p>
<a href="http://www.myiq.cn/download.php" target="_blank">免费下载iQ浏览器</a> ┆ <a href="member.php?action=clearcookies&amp;formhash=0d4adb89">清除Cookies</a>
 ┆ <a href="archiver/" target="_blank">纯文字版</a> ┆ <a href="#top">返回页首</a> ┆ <span id="styleswitcher" class="dropmenu" onmouseover="showMenu(this.id)">界面风格</span>
<script type="text/javascript">
function setstyle(styleid) {
location.href = 'viewthread.php?tid=936&page=1&styleid=' + styleid;
}
</script>
<div id="styleswitcher_menu" class="popupmenu_popup" style="display: none;">
<ul><li><a href="#" onclick="setstyle(1)">默认风格</a></li><li class="current"><a href="#" onclick="setstyle(7)">IQ_Browser</a></li></ul>
</div>
</p>
</div>


{% endblock %}
